n8n/workflows/WF90_Orchestrator_7Stage_Obsidian.json
{
  "name": "WF90_Orchestrator_7Stage_Obsidian",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const embedded = {\"brand_brief\":{\"version\":\"1.0\",\"source\":\"sandbank_richtlinien.pdf\",\"positioning\":{\"story\":[\"Daten sind ueberall und datengetriebene Entscheidungen schaffen Wettbewerbsvorteile.\",\"Sandbank macht Datenanalyse mit wenigen Klicks zugaenglich.\",\"Fokus auf einfache Nutzung statt komplexer Enterprise-Projekte.\"],\"offer_hint\":\"Alles in einem Abo, Einstieg ab 69 EUR/Monat (laut Richtlinie).\"},\"values\":[\"Transparenz\",\"Flexibilitaet\",\"Sicherheit\",\"Ganzheitlich\"],\"guidelines\":[\"Kreativ und offen\",\"Natuerlich und authentisch\",\"Umweltbewusst und oekonomisch\",\"Klar und einfach\"],\"tone\":{\"addressing\":\"Du-Ansprache auf Augenhoehe, bei Bedarf anpassungsfaehig.\",\"writing_style\":[\"natuerlich\",\"authentisch\",\"offen\",\"klar\",\"auf den Punkt\",\"wissensvermittelnd\"],\"avoid\":[\"aufgesetzte Marketingfloskeln\",\"unbelegte Uebertreibungen\",\"unnatuerliche KI-Formulierungen\"]},\"visual\":{\"colors\":[{\"name\":\"SB-GRAU\",\"hex\":\"#3D3D3D\"},{\"name\":\"SB-BLAU-1\",\"hex\":\"#2F4F73\"},{\"name\":\"SB-BLAU-2\",\"hex\":\"#4375A2\"},{\"name\":\"SB-BEIGE-1\",\"hex\":\"#C2B59C\"},{\"name\":\"SB-BEIGE-2\",\"hex\":\"#F2E8CF\"},{\"name\":\"SB-BEIGE-3\",\"hex\":\"#F9F4EA\"},{\"name\":\"SB-BEIGE-4\",\"hex\":\"#FEF9F3\"}],\"fonts\":{\"primary\":\"Poppins Regular 400\",\"secondary\":\"Poppins Semibold 600\",\"tertiary\":\"Barlow Light 300 (ALLCAPS, selektiv)\"},\"logo_rules\":[\"Hauptlogo primaer ueber Kanaele nutzen.\",\"Mindestabstand zu anderen Elementen: halbe Logo-Breite.\",\"Druck: mindestens 30 mm.\"],\"icon_style\":\"Da-vooda (SB-GRAU), optional lucide-react.\"},\"content_policy\":{\"platform_first\":true,\"claims\":\"Nur belegbare Aussagen. Unsichere Fakten markieren.\",\"structure\":\"Hook -> Problem -> Insight -> Beispiel -> CTA\",\"quality_gate\":\"Beitrag muss Tonalitaet, ICP-Fit und Klarheit pruefbar erfuellen.\"}},\"platform_profiles\":{\"profiles\":[{\"platform\":\"linkedin\",\"target_length_chars\":[700,1600],\"style\":[\"insight-first\",\"klar\",\"belegbar\",\"no fluff\"],\"cta\":[\"Diskussionsfrage\",\"Kommentaraufforderung\",\"Resource-Link\"]},{\"platform\":\"instagram\",\"target_length_chars\":[300,1200],\"style\":[\"hook-first\",\"kurze Abschnitte\",\"scanbar\"],\"cta\":[\"save/share\",\"dm intent\",\"link in bio\"]},{\"platform\":\"reddit\",\"target_length_chars\":[500,3000],\"style\":[\"nutzwert\",\"transparent\",\"no sales pitch\"],\"cta\":[\"Erfahrungsfrage\",\"Best-Practice-Austausch\"]}],\"excluded\":[\"x\"]},\"source_policy\":{\"mode\":\"local_only\",\"allowed_sources\":[\"searxng\",\"rss\",\"hacker_news\",\"reddit_rss\",\"searxng_site_reddit\"],\"disabled_sources\":[\"x\"],\"reddit_api\":{\"enabled\":false,\"reason\":\"credentials_missing\",\"fallback\":[\"reddit_rss\",\"searxng_site_reddit\"]}},\"research_queries\":[{\"query\":\"data infrastructure saas trends 2026\",\"source_type\":\"web\",\"priority\":\"high\"},{\"query\":\"b2b analytics reporting pain points\",\"source_type\":\"web\",\"priority\":\"high\"},{\"query\":\"site:reddit.com dataengineering dashboard reporting\",\"source_type\":\"searx_reddit\",\"priority\":\"high\"},{\"query\":\"site:reddit.com marketinganalytics dashboard tooling\",\"source_type\":\"searx_reddit\",\"priority\":\"medium\"},{\"query\":\"hacker news data analytics tools\",\"source_type\":\"hn\",\"priority\":\"medium\"},{\"query\":\"dbt release notes analytics engineering\",\"source_type\":\"rss\",\"priority\":\"medium\"},{\"query\":\"ga4 reporting challenges agencies\",\"source_type\":\"web\",\"priority\":\"high\"},{\"query\":\"shopify marketing reporting attribution issues\",\"source_type\":\"web\",\"priority\":\"medium\"}],\"prompts\":{\"agent1_research\":\"You are Agent 1 (Research Intake) for Sandbank social content.\\n\\nObjective:\\n- Build evidence packets from search inputs, not opinions.\\n- Only keep signals that can be traced to concrete source snippets.\\n\\nInput:\\n- brand brief\\n- source policy\\n- search result snippets\\n\\nOutput contract:\\n- Return JSON only.\\n- Top level must be either:\\n  1) an array of evidence packets, or\\n  2) an object with key `packets` containing that array.\\n- Every packet must match `evidence_packet.schema.json`.\\n\\nScoring rules:\\n- `icp_fit_score`: 0..1, how close to target ICP pain.\\n- `product_relevance_score`: 0..1, how directly Sandbank can help.\\n- `evidence_strength`: 0..1, confidence based on source specificity.\\n\\nHard constraints:\\n- No fabricated claims, no made-up dates, no invented URLs.\\n- Prefer current and specific signals over generic trend talk.\\n- Keep summaries short, factual, and traceable.\\n- Do not write post copy.\\n\",\"agent2_topic_fit\":\"You are Agent 2 (Topic Fit + Product Relevance).\\n\\nInput:\\n- evidence packets\\n- Sandbank brand brief\\n- platform profiles\\n\\nOutput contract:\\n- Return JSON only.\\n- Must match `topic_brief.schema.json`.\\n\\nRules:\\n- Prioritize ICP fit and product relevance.\\n- Reject topics with weak problem/solution relation.\\n- Prefer topics with clear business pain, measurable impact, and practical actionability.\\n- Propose one strong angle and channel recommendation with explicit why-now reasoning.\\n\",\"agent3_draft\":\"You are Agent 3 (Draft Factory).\\n\\nInput:\\n- topic brief\\n- platform profile\\n- brand brief\\n\\nOutput contract:\\n- Return JSON only.\\n- Must match `draft_package.schema.json`.\\n- Include platform-specific drafts only.\\n\\nRules:\\n- Keep Sandbank tone: natural, clear, to the point.\\n- No generic AI marketing phrases.\\n- Include one practical insight and one concrete CTA.\\n- Claims must stay consistent with provided evidence and brand brief.\\n- Favor concrete examples over abstract phrasing.\\n\",\"agent4_ai_sounding_critic\":\"You are Agent 4 (AI-Sounding Critic).\\n\\nTask:\\n- Detect and fix text patterns that sound synthetic or generic.\\n- Keep meaning and factual claims unchanged.\\n\\nOutput contract:\\n- Return JSON only.\\n- Must match `critique_report.schema.json`.\\n- `improved_draft` must preserve original intent and facts.\\n\\nFocus:\\n- repetitive rhythm\\n- empty buzzwords\\n- generic transitions\\n- missing specificity\\n- robotic phrase patterns\\n\",\"agent5_visual\":\"You are Agent 5 (Visual Concept Agent).\\n\\nTask:\\n- Create visual concept prompts based on Sandbank brand colors and typography rules.\\n- Do not generate images directly in this workflow.\\n\\nOutput contract:\\n- Return JSON only.\\n- Top level must be an array of visual brief objects.\\n- Each item must match `visual_brief.schema.json`.\\n\\nRules:\\n- Prioritize clarity and brand consistency.\\n- Keep prompts practical for later image generation tools.\\n\",\"agent6_strategy_critic\":\"You are Agent 6 (Strategy Critic 1).\\n\\nTask:\\n- Evaluate strategic quality of each draft.\\n- Score hook strength, relevance, clarity, CTA quality.\\n- Propose concrete improvements only.\\n\\nOutput contract:\\n- Return JSON only.\\n- Must match `critique_report.schema.json`.\\n\\nRules:\\n- Prioritize expected outcomes: impressions, profile visits, website clicks.\\n- Highlight weak strategic assumptions explicitly.\\n\",\"agent7_strategy_critic\":\"You are Agent 7 (Strategy Critic 2).\\n\\nTask:\\n- Second-pass critical review to catch blind spots.\\n- Challenge weak assumptions and unclear claims.\\n- Keep style aligned to Sandbank brand and audience.\\n\\nOutput contract:\\n- Return JSON only.\\n- Must match `critique_report.schema.json`.\\n\\nRules:\\n- Be stricter than Agent 6.\\n- Only accept drafts that are specific, credible, and channel-appropriate.\\n\",\"obsidian_mapper\":\"You are the Obsidian Mapper.\\n\\nTask:\\n- Convert final approved draft package into one markdown note.\\n- Fill note metadata fields used by Social-Media-Beitraege base:\\n  - description\\n  - channel\\n  - format\\n  - status\\n  - link\\n\\nOutput contract:\\n- Return JSON only.\\n- Must match `obsidian_note.schema.json`.\\n- `markdown_body` must be ready to write into Obsidian note file.\\n\\nRules:\\n- Keep markdown human-readable and concise.\\n- Preserve factual wording from approved draft.\\n\"},\"schemas\":{\"evidence_packet\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"title\":\"EvidencePacket\",\"type\":\"object\",\"required\":[\"query\",\"source_type\",\"title\",\"url\",\"published_at\",\"summary\",\"icp_fit_score\",\"product_relevance_score\",\"evidence_strength\"],\"properties\":{\"query\":{\"type\":\"string\",\"minLength\":3},\"source_type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\",\"minLength\":3},\"url\":{\"type\":\"string\",\"minLength\":3},\"published_at\":{\"type\":\"string\"},\"summary\":{\"type\":\"string\",\"minLength\":10},\"key_points\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"icp_fit_score\":{\"type\":\"number\",\"minimum\":0,\"maximum\":1},\"product_relevance_score\":{\"type\":\"number\",\"minimum\":0,\"maximum\":1},\"evidence_strength\":{\"type\":\"number\",\"minimum\":0,\"maximum\":1},\"risk_notes\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}},\"additionalProperties\":false},\"topic_brief\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"title\":\"TopicBrief\",\"type\":\"object\",\"required\":[\"topic\",\"angle\",\"why_now\",\"platform_recommendation\",\"confidence\"],\"properties\":{\"topic\":{\"type\":\"string\",\"minLength\":5},\"angle\":{\"type\":\"string\",\"minLength\":10},\"why_now\":{\"type\":\"string\",\"minLength\":10},\"platform_recommendation\":{\"type\":\"array\",\"items\":{\"type\":\"string\",\"enum\":[\"linkedin\",\"instagram\",\"reddit\"]},\"minItems\":1},\"format_recommendation\":{\"type\":\"string\"},\"confidence\":{\"type\":\"number\",\"minimum\":0,\"maximum\":1}},\"additionalProperties\":false},\"draft_package\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"title\":\"DraftPackage\",\"type\":\"object\",\"required\":[\"topic\",\"drafts\"],\"properties\":{\"topic\":{\"type\":\"string\",\"minLength\":5},\"drafts\":{\"type\":\"array\",\"minItems\":1,\"items\":{\"type\":\"object\",\"required\":[\"platform\",\"title\",\"body\",\"cta\"],\"properties\":{\"platform\":{\"type\":\"string\",\"enum\":[\"linkedin\",\"instagram\",\"reddit\"]},\"title\":{\"type\":\"string\",\"minLength\":5},\"body\":{\"type\":\"string\",\"minLength\":30},\"cta\":{\"type\":\"string\",\"minLength\":5},\"hashtags\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"notes\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}},\"additionalProperties\":false}}},\"additionalProperties\":false},\"critique_report\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"title\":\"CritiqueReport\",\"type\":\"object\",\"required\":[\"stage\",\"score\",\"issues\",\"improved_draft\"],\"properties\":{\"stage\":{\"type\":\"string\"},\"score\":{\"type\":\"number\",\"minimum\":0,\"maximum\":10},\"issues\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"required\":[\"severity\",\"message\"],\"properties\":{\"severity\":{\"type\":\"string\",\"enum\":[\"low\",\"medium\",\"high\"]},\"message\":{\"type\":\"string\",\"minLength\":5}},\"additionalProperties\":false}},\"improved_draft\":{\"type\":\"object\"}},\"additionalProperties\":false},\"obsidian_note\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"title\":\"ObsidianNotePayload\",\"type\":\"object\",\"required\":[\"file_name\",\"description\",\"channel\",\"format\",\"status\",\"link\",\"markdown_body\"],\"properties\":{\"file_name\":{\"type\":\"string\",\"minLength\":5},\"description\":{\"type\":\"string\",\"minLength\":10},\"channel\":{\"type\":\"string\",\"minLength\":2},\"format\":{\"type\":\"string\",\"minLength\":2},\"status\":{\"type\":\"string\",\"minLength\":2},\"link\":{\"type\":\"string\"},\"markdown_body\":{\"type\":\"string\",\"minLength\":30}},\"additionalProperties\":false},\"visual_brief\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"title\":\"VisualBrief\",\"type\":\"object\",\"required\":[\"platform\",\"visual_prompt\",\"color_palette\",\"composition_constraints\"],\"properties\":{\"platform\":{\"type\":\"string\",\"enum\":[\"linkedin\",\"instagram\",\"reddit\"]},\"visual_prompt\":{\"type\":\"string\",\"minLength\":20},\"color_palette\":{\"type\":\"array\",\"minItems\":2,\"items\":{\"type\":\"string\",\"minLength\":4}},\"composition_constraints\":{\"type\":\"array\",\"minItems\":1,\"items\":{\"type\":\"string\",\"minLength\":5}}},\"additionalProperties\":false}}};\n\nconst input = items[0] && items[0].json ? items[0].json : {};\nconst ts = new Date();\nconst stamp = ts.toISOString().replace(/[-:.TZ]/g, '').slice(0, 14);\nconst randomPart = Math.random().toString(36).slice(2, 8);\nconst runId = 'run-' + stamp + '-' + randomPart;\n\nconst context = {\n  run_id: runId,\n  created_at: ts.toISOString(),\n  model: input.model || 'qwen3.5:27b',\n  model_fallback: input.model_fallback || 'qwen2.5:3b',\n  active_model: input.model || 'qwen3.5:27b',\n  model_switch_log: [],\n  input,\n  obsidian_notes_dir: input.obsidian_notes_dir || 'Marketing/Social-Media/Beitraege',\n  obsidian_steps_dir: input.obsidian_steps_dir || 'Marketing/Social-Media/Beitraege/01-Beitraege-Steps',\n  brand_brief: embedded.brand_brief,\n  platform_profiles: embedded.platform_profiles,\n  source_policy: embedded.source_policy,\n  research_queries: embedded.research_queries,\n  prompts: embedded.prompts,\n  schemas: embedded.schemas,\n  stage_logs: [],\n  artifacts: {}\n};\n\nreturn [{ json: context }];"
      },
      "id": "init-context",
      "name": "Init Context + Load Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1060,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = items[0].json;\nconst primaryModel = (ctx.model || 'qwen3.5:27b').toString();\nconst fallbackModel = (ctx.model_fallback || '').toString().trim();\nlet activeModel = primaryModel;\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nfunction shortText(value, maxLen = 220) {\n  const text = typeof value === 'string' ? value : JSON.stringify(value || '');\n  if (text.length <= maxLen) return text;\n  return text.slice(0, maxLen - 3) + '...';\n}\n\nfunction clamp01(value, fallback = 0.5) {\n  const n = Number(value);\n  if (!Number.isFinite(n)) return fallback;\n  if (n < 0) return 0;\n  if (n > 1) return 1;\n  return n;\n}\n\nfunction clamp10(value, fallback = 6) {\n  const n = Number(value);\n  if (!Number.isFinite(n)) return fallback;\n  if (n < 0) return 0;\n  if (n > 10) return 10;\n  return n;\n}\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nfunction requiredKeys(schemaName) {\n  const schema = (ctx.schemas || {})[schemaName] || {};\n  return Array.isArray(schema.required) ? schema.required : [];\n}\n\nfunction assertRequired(obj, keys, label) {\n  for (const key of keys) {\n    if (!(key in obj)) {\n      throw new Error(label + ' missing required key: ' + key);\n    }\n  }\n}\n\nfunction extractJsonCandidate(rawText) {\n  if (typeof rawText !== 'string') {\n    throw new Error('Model output is not a string');\n  }\n\n  const fenced = rawText.match(new RegExp('\\\\x60\\\\x60\\\\x60(?:json)?\\\\s*([\\\\s\\\\S]*?)\\\\x60\\\\x60\\\\x60', 'i'));\n  const text = (fenced ? fenced[1] : rawText).trim();\n\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    // continue\n  }\n\n  const startCandidates = [];\n  const objStart = text.indexOf('{');\n  const arrStart = text.indexOf('[');\n  if (objStart >= 0) startCandidates.push(objStart);\n  if (arrStart >= 0) startCandidates.push(arrStart);\n  if (!startCandidates.length) {\n    throw new Error('No JSON object or array start found in model output');\n  }\n\n  const start = Math.min(...startCandidates);\n  const firstChar = text[start];\n  const openChar = firstChar;\n  const closeChar = firstChar === '{' ? '}' : ']';\n\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n  for (let i = start; i < text.length; i++) {\n    const ch = text[i];\n    if (inString) {\n      if (escaped) {\n        escaped = false;\n      } else if (ch === '\\\\\\\\') {\n        escaped = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inString = true;\n      continue;\n    }\n    if (ch === openChar) depth += 1;\n    if (ch === closeChar) {\n      depth -= 1;\n      if (depth === 0) {\n        const candidate = text.slice(start, i + 1);\n        return JSON.parse(candidate);\n      }\n    }\n  }\n\n  throw new Error('Could not extract valid JSON payload from model output');\n}\n\nasync function callOllama(systemPrompt, userPrompt, temperature = 0.3) {\n  const candidates = [];\n  if (activeModel) candidates.push(activeModel);\n  if (fallbackModel && !candidates.includes(fallbackModel)) {\n    candidates.push(fallbackModel);\n  }\n\n  let lastError;\n\n  for (let i = 0; i < candidates.length; i++) {\n    const modelName = candidates[i];\n    try {\n      const data = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'http://ollama:11434/api/chat',\n        body: {\n          model: modelName,\n          stream: false,\n          messages: [\n            { role: 'system', content: systemPrompt },\n            { role: 'user', content: userPrompt }\n          ],\n          options: {\n            temperature,\n            num_predict: 700\n          }\n        },\n        json: true\n      });\n\n      const text = data && data.message ? data.message.content : data.response;\n      if (!text) {\n        throw new Error('Ollama response has no message content');\n      }\n\n      activeModel = modelName;\n      ctx.active_model = activeModel;\n\n      return {\n        raw: text,\n        parsed: extractJsonCandidate(text)\n      };\n    } catch (error) {\n      const status = error && error.response && error.response.status\n        ? error.response.status\n        : (error && error.httpCode ? error.httpCode : 0);\n\n      const apiError = error && error.response && error.response.data && error.response.data.error\n        ? error.response.data.error\n        : '';\n      const details = [error && error.message ? error.message : '', apiError].filter(Boolean).join(' | ');\n\n      const isMemoryError = status === 500\n        && /model requires more system memory|model request too large for system/i.test(details);\n\n      if (isMemoryError && modelName === primaryModel && fallbackModel && fallbackModel !== primaryModel) {\n        ctx.model_switch_log = Array.isArray(ctx.model_switch_log) ? ctx.model_switch_log : [];\n        ctx.model_switch_log.push({\n          at: nowIso(),\n          from: primaryModel,\n          to: fallbackModel,\n          reason: details || 'primary model exceeds available memory'\n        });\n        continue;\n      }\n\n      lastError = new Error('Ollama call failed for model \"' + modelName + '\": ' + (details || 'unknown error'));\n\n      if (i < candidates.length - 1) {\n        continue;\n      }\n\n      throw lastError;\n    }\n  }\n\n  throw lastError || new Error('Ollama call failed');\n}\n\nasync function callSearx(query) {\n  const maxAttempts = 4;\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      return await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'http://searxng:8080/search',\n        qs: {\n          format: 'json',\n          language: 'de-DE',\n          q: query\n        },\n        headers: {\n          'User-Agent': 'Mozilla/5.0 (sandbank-n8n-research)'\n        },\n        json: true\n      });\n    } catch (error) {\n      const status = error && error.response && error.response.status\n        ? error.response.status\n        : (error && error.httpCode ? error.httpCode : 0);\n      if (status === 429 && attempt < maxAttempts) {\n        await sleep(500 * attempt);\n        continue;\n      }\n      throw new Error('SearXNG call failed for query \\\"' + query + '\\\": ' + (status || 'unknown') + ' - ' + (error.message || 'request error'));\n    }\n  }\n\n  throw new Error('SearXNG call failed after retries for query \\\"' + query + '\\\"');\n}\n\nfunction addStageLog(step, agent, status, inputRef, outputRef, qualityScore, notes) {\n  ctx.stage_logs.push({\n    step,\n    agent,\n    status,\n    input_ref: inputRef,\n    output_ref: outputRef,\n    quality_score: Number.isFinite(Number(qualityScore)) ? Number(qualityScore) : 0,\n    notes,\n    ts: nowIso()\n  });\n}\n\nfunction normalizeDraftPackage(candidate, previousDraftPackage) {\n  if (candidate && Array.isArray(candidate.drafts) && candidate.drafts.length > 0) {\n    const normalizedDrafts = candidate.drafts.map((draft, idx) => ({\n      platform: (draft.platform || 'linkedin').toString().toLowerCase(),\n      title: (draft.title || ('Draft ' + (idx + 1))).toString(),\n      body: (draft.body || '').toString(),\n      cta: (draft.cta || '').toString(),\n      hashtags: Array.isArray(draft.hashtags) ? draft.hashtags : [],\n      notes: Array.isArray(draft.notes) ? draft.notes : []\n    }));\n\n    return {\n      topic: (candidate.topic || (previousDraftPackage && previousDraftPackage.topic) || 'Untitled topic').toString(),\n      drafts: normalizedDrafts\n    };\n  }\n\n  if (candidate && candidate.platform && candidate.title && candidate.body && candidate.cta) {\n    return {\n      topic: (candidate.topic || (previousDraftPackage && previousDraftPackage.topic) || 'Untitled topic').toString(),\n      drafts: [\n        {\n          platform: candidate.platform.toString().toLowerCase(),\n          title: candidate.title.toString(),\n          body: candidate.body.toString(),\n          cta: candidate.cta.toString(),\n          hashtags: Array.isArray(candidate.hashtags) ? candidate.hashtags : [],\n          notes: Array.isArray(candidate.notes) ? candidate.notes : []\n        }\n      ]\n    };\n  }\n\n  if (previousDraftPackage) return previousDraftPackage;\n  throw new Error('Could not normalize draft package');\n}\n\nfunction normalizeCritique(critique, stageName) {\n  const normalized = (critique && critique.critique_report) ? critique.critique_report : critique;\n  assertRequired(normalized, requiredKeys('critique_report'), stageName);\n  return {\n    stage: (normalized.stage || stageName).toString(),\n    score: clamp10(normalized.score, 6),\n    issues: Array.isArray(normalized.issues)\n      ? normalized.issues.map((issue) => ({\n          severity: ['low', 'medium', 'high'].includes(issue && issue.severity) ? issue.severity : 'medium',\n          message: (issue && issue.message ? issue.message : 'Unspecified issue').toString()\n        }))\n      : [],\n    improved_draft: normalized.improved_draft || {}\n  };\n}\n\nfunction computeAverage(values) {\n  if (!values.length) return 0;\n  return values.reduce((sum, value) => sum + value, 0) / values.length;\n}\n\nfunction sanitizeSlug(value) {\n  return (value || 'post')\n    .toString()\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .slice(0, 80);\n}\n\n// Stage 1: Research Intake\nconst priorityRank = { high: 3, medium: 2, low: 1 };\nconst topQueries = (ctx.research_queries || [])\n  .slice()\n  .sort((a, b) => (priorityRank[b.priority] || 0) - (priorityRank[a.priority] || 0))\n  .slice(0, 3);\n\nconst rawSignals = [];\nconst skippedQueries = [];\nfor (const query of topQueries) {\n  try {\n    const response = await callSearx(query.query);\n    const results = Array.isArray(response.results) ? response.results.slice(0, 4) : [];\n    for (const result of results) {\n      rawSignals.push({\n        query: query.query,\n        source_type: query.source_type || 'web',\n        title: result.title || '',\n        url: result.url || '',\n        summary: result.content || result.snippet || '',\n        published_at: result.publishedDate || ''\n      });\n    }\n  } catch (error) {\n    skippedQueries.push({\n      query: query.query,\n      reason: error.message || 'unknown'\n    });\n  }\n  await sleep(250);\n}\n\nif (!rawSignals.length) {\n  throw new Error('Stage 1 did not collect any research signals. Skipped queries: ' + JSON.stringify(skippedQueries));\n}\n\nconst stage1Prompt = [\n  ctx.prompts.agent1_research,\n  'Return JSON only.',\n  'Required keys: ' + requiredKeys('evidence_packet').join(', '),\n  'Brand brief (short): ' + JSON.stringify({\n    values: ctx.brand_brief.values,\n    tone: ctx.brand_brief.tone,\n    positioning: ctx.brand_brief.positioning\n  }),\n  'Search signals: ' + JSON.stringify(rawSignals)\n].join('\\n\\n');\n\nconst stage1Result = await callOllama(\n  'You are an evidence-focused analyst. Return valid JSON only, no markdown.',\n  stage1Prompt,\n  0.2\n);\n\nlet evidencePackets = [];\nif (Array.isArray(stage1Result.parsed)) {\n  evidencePackets = stage1Result.parsed;\n} else if (stage1Result.parsed && Array.isArray(stage1Result.parsed.packets)) {\n  evidencePackets = stage1Result.parsed.packets;\n}\n\nif (!evidencePackets.length) {\n  throw new Error('Stage 1 returned no evidence packets');\n}\n\nconst evidenceReq = requiredKeys('evidence_packet');\nevidencePackets = evidencePackets.map((packet, idx) => {\n  assertRequired(packet, evidenceReq, 'agent1_evidence[' + idx + ']');\n  return {\n    query: packet.query.toString(),\n    source_type: packet.source_type.toString(),\n    title: packet.title.toString(),\n    url: packet.url.toString(),\n    published_at: (packet.published_at || '').toString(),\n    summary: packet.summary.toString(),\n    key_points: Array.isArray(packet.key_points) ? packet.key_points.map((v) => v.toString()) : [],\n    icp_fit_score: clamp01(packet.icp_fit_score, 0.5),\n    product_relevance_score: clamp01(packet.product_relevance_score, 0.5),\n    evidence_strength: clamp01(packet.evidence_strength, 0.5),\n    risk_notes: Array.isArray(packet.risk_notes) ? packet.risk_notes.map((v) => v.toString()) : []\n  };\n});\n\nctx.artifacts.agent1_evidence_packets = evidencePackets;\naddStageLog(\n  1,\n  'research_intake',\n  'ok',\n  'run/' + ctx.run_id + '/agent1/input',\n  'run/' + ctx.run_id + '/agent1/evidence_packets',\n  computeAverage(evidencePackets.map((p) => p.evidence_strength)),\n  'Packets: ' + evidencePackets.length + (skippedQueries.length ? '; skipped_queries=' + skippedQueries.length : '')\n);\n\n// Stage 2: Topic Fit\nconst compactEvidence = evidencePackets.slice(0, 12).map((p) => ({\n  title: p.title,\n  summary: p.summary,\n  icp_fit_score: p.icp_fit_score,\n  product_relevance_score: p.product_relevance_score,\n  evidence_strength: p.evidence_strength,\n  url: p.url\n}));\n\nconst stage2Prompt = [\n  ctx.prompts.agent2_topic_fit,\n  'Return JSON only.',\n  'Required keys: ' + requiredKeys('topic_brief').join(', '),\n  'Evidence packets: ' + JSON.stringify(compactEvidence),\n  'Brand brief tone: ' + JSON.stringify(ctx.brand_brief.tone),\n  'Platform profiles: ' + JSON.stringify(ctx.platform_profiles)\n].join('\\n\\n');\n\nconst stage2Result = await callOllama(\n  'You are a product marketing strategist. Return valid JSON only, no markdown.',\n  stage2Prompt,\n  0.3\n);\n\nconst topicBrief = stage2Result.parsed;\nassertRequired(topicBrief, requiredKeys('topic_brief'), 'agent2_topic_brief');\ntopicBrief.confidence = clamp01(topicBrief.confidence, 0.5);\nif (!Array.isArray(topicBrief.platform_recommendation) || !topicBrief.platform_recommendation.length) {\n  topicBrief.platform_recommendation = ['linkedin'];\n}\n\nctx.artifacts.agent2_topic_brief = topicBrief;\naddStageLog(\n  2,\n  'topic_fit',\n  'ok',\n  'run/' + ctx.run_id + '/agent2/input',\n  'run/' + ctx.run_id + '/agent2/topic_brief',\n  topicBrief.confidence,\n  shortText(topicBrief.angle, 140)\n);\n\n// Stage 3: Draft Factory\nconst stage3Prompt = [\n  ctx.prompts.agent3_draft,\n  'Return JSON only.',\n  'Required keys: ' + requiredKeys('draft_package').join(', '),\n  'Topic brief: ' + JSON.stringify(topicBrief),\n  'Brand brief: ' + JSON.stringify(ctx.brand_brief),\n  'Platform profiles: ' + JSON.stringify(ctx.platform_profiles)\n].join('\\n\\n');\n\nconst stage3Result = await callOllama(\n  'You are a senior B2B social copywriter. Return valid JSON only, no markdown.',\n  stage3Prompt,\n  0.4\n);\n\nlet currentDraftPackage = normalizeDraftPackage(stage3Result.parsed, null);\nassertRequired(currentDraftPackage, requiredKeys('draft_package'), 'agent3_draft_package');\nif (!Array.isArray(currentDraftPackage.drafts) || !currentDraftPackage.drafts.length) {\n  throw new Error('Stage 3 produced no drafts');\n}\n\nctx.artifacts.agent3_draft_package = currentDraftPackage;\naddStageLog(\n  3,\n  'draft_factory',\n  'ok',\n  'run/' + ctx.run_id + '/agent3/input',\n  'run/' + ctx.run_id + '/agent3/draft_package',\n  Math.min(10, currentDraftPackage.drafts.length * 3),\n  'Drafts: ' + currentDraftPackage.drafts.length\n);\n\n// Stage 4: AI-Sounding Critic\nconst stage4Prompt = [\n  ctx.prompts.agent4_ai_sounding_critic,\n  'Return JSON only.',\n  'Required keys: ' + requiredKeys('critique_report').join(', '),\n  'Draft package: ' + JSON.stringify(currentDraftPackage)\n].join('\\n\\n');\n\nconst stage4Result = await callOllama(\n  'You are an editorial reviewer focused on human sounding writing. Return valid JSON only.',\n  stage4Prompt,\n  0.2\n);\n\nconst critique4 = normalizeCritique(stage4Result.parsed, 'agent4_ai_sounding_critic');\ncurrentDraftPackage = normalizeDraftPackage(critique4.improved_draft, currentDraftPackage);\nctx.artifacts.agent4_critique_report = critique4;\nctx.artifacts.draft_after_agent4 = currentDraftPackage;\naddStageLog(\n  4,\n  'ai_sounding_critic',\n  'ok',\n  'run/' + ctx.run_id + '/agent4/input',\n  'run/' + ctx.run_id + '/agent4/critique_report',\n  critique4.score,\n  critique4.issues.length + ' issues'\n);\n\n// Stage 5: Visual Brief\nconst stage5Prompt = [\n  ctx.prompts.agent5_visual,\n  'Return JSON only.',\n  'Each array item required keys: ' + requiredKeys('visual_brief').join(', '),\n  'Draft package: ' + JSON.stringify(currentDraftPackage),\n  'Brand visual rules: ' + JSON.stringify(ctx.brand_brief.visual)\n].join('\\n\\n');\n\nconst stage5Result = await callOllama(\n  'You are a visual concept specialist for B2B social content. Return valid JSON only.',\n  stage5Prompt,\n  0.3\n);\n\nlet visualBriefs = [];\nif (Array.isArray(stage5Result.parsed)) {\n  visualBriefs = stage5Result.parsed;\n} else if (stage5Result.parsed && Array.isArray(stage5Result.parsed.visual_briefs)) {\n  visualBriefs = stage5Result.parsed.visual_briefs;\n}\n\nif (!visualBriefs.length) {\n  throw new Error('Stage 5 produced no visual briefs');\n}\n\nconst visualReq = requiredKeys('visual_brief');\nvisualBriefs = visualBriefs.map((brief, idx) => {\n  assertRequired(brief, visualReq, 'agent5_visual[' + idx + ']');\n  return {\n    platform: brief.platform.toString().toLowerCase(),\n    visual_prompt: brief.visual_prompt.toString(),\n    color_palette: Array.isArray(brief.color_palette) ? brief.color_palette.map((v) => v.toString()) : [],\n    composition_constraints: Array.isArray(brief.composition_constraints)\n      ? brief.composition_constraints.map((v) => v.toString())\n      : []\n  };\n});\n\nctx.artifacts.agent5_visual_briefs = visualBriefs;\naddStageLog(\n  5,\n  'visual_brief',\n  'ok',\n  'run/' + ctx.run_id + '/agent5/input',\n  'run/' + ctx.run_id + '/agent5/visual_briefs',\n  8,\n  'Briefs: ' + visualBriefs.length\n);\n\n// Stage 6: Strategy Critic 1\nconst stage6Prompt = [\n  ctx.prompts.agent6_strategy_critic,\n  'Return JSON only.',\n  'Required keys: ' + requiredKeys('critique_report').join(', '),\n  'Draft package: ' + JSON.stringify(currentDraftPackage),\n  'Topic brief: ' + JSON.stringify(topicBrief)\n].join('\\n\\n');\n\nconst stage6Result = await callOllama(\n  'You are a growth-focused social strategy reviewer. Return valid JSON only.',\n  stage6Prompt,\n  0.2\n);\n\nconst critique6 = normalizeCritique(stage6Result.parsed, 'agent6_strategy_critic_1');\ncurrentDraftPackage = normalizeDraftPackage(critique6.improved_draft, currentDraftPackage);\nctx.artifacts.agent6_critique_report = critique6;\nctx.artifacts.draft_after_agent6 = currentDraftPackage;\naddStageLog(\n  6,\n  'strategy_critic_1',\n  'ok',\n  'run/' + ctx.run_id + '/agent6/input',\n  'run/' + ctx.run_id + '/agent6/critique_report',\n  critique6.score,\n  critique6.issues.length + ' issues'\n);\n\n// Stage 7: Strategy Critic 2\nconst stage7Prompt = [\n  ctx.prompts.agent7_strategy_critic,\n  'Return JSON only.',\n  'Required keys: ' + requiredKeys('critique_report').join(', '),\n  'Draft package: ' + JSON.stringify(currentDraftPackage),\n  'Topic brief: ' + JSON.stringify(topicBrief)\n].join('\\n\\n');\n\nconst stage7Result = await callOllama(\n  'You are a strict final quality reviewer for brand-safe social writing. Return valid JSON only.',\n  stage7Prompt,\n  0.2\n);\n\nconst critique7 = normalizeCritique(stage7Result.parsed, 'agent7_strategy_critic_2');\ncurrentDraftPackage = normalizeDraftPackage(critique7.improved_draft, currentDraftPackage);\nctx.artifacts.agent7_critique_report = critique7;\nctx.artifacts.final_draft_package = currentDraftPackage;\naddStageLog(\n  7,\n  'strategy_critic_2',\n  'ok',\n  'run/' + ctx.run_id + '/agent7/input',\n  'run/' + ctx.run_id + '/agent7/critique_report',\n  critique7.score,\n  critique7.issues.length + ' issues'\n);\n\n// Deterministic final Obsidian payload (factory output)\nconst primaryDraft = currentDraftPackage.drafts[0];\nconst datePrefix = new Date().toISOString().slice(0, 10);\nconst topicSlug = sanitizeSlug(currentDraftPackage.topic || topicBrief.topic || 'social-post');\nconst fileName = datePrefix + ' - ' + primaryDraft.platform + ' - ' + topicSlug + '.md';\n\nconst finalDescription = shortText(primaryDraft.body.replace(/\\s+/g, ' ').trim(), 160);\nconst hashtags = Array.isArray(primaryDraft.hashtags) ? primaryDraft.hashtags : [];\n\nconst markdownParts = [];\nmarkdownParts.push('# ' + (primaryDraft.title || 'Social post draft'));\nmarkdownParts.push('');\nmarkdownParts.push('## Hook');\nmarkdownParts.push((primaryDraft.title || '').toString());\nmarkdownParts.push('');\nmarkdownParts.push('## Body');\nmarkdownParts.push((primaryDraft.body || '').toString());\nmarkdownParts.push('');\nmarkdownParts.push('## CTA');\nmarkdownParts.push((primaryDraft.cta || '').toString());\nif (hashtags.length) {\n  markdownParts.push('');\n  markdownParts.push('## Hashtags');\n  markdownParts.push(hashtags.join(' '));\n}\n\nctx.final_note = {\n  file_name: fileName,\n  description: finalDescription,\n  channel: primaryDraft.platform || 'linkedin',\n  format: 'text-post',\n  status: 'draft',\n  link: '',\n  markdown_body: markdownParts.join('\\n')\n};\n\nctx.topic = currentDraftPackage.topic || topicBrief.topic || '';\nctx.visual_briefs = visualBriefs;\nctx.stage_count = ctx.stage_logs.length;\nctx.model_used = activeModel;\nctx.completed_at = nowIso();\n\nreturn [{ json: ctx }];"
      },
      "id": "run-pipeline",
      "name": "Run 7 Stage Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = items[0].json;\n\nfunction safeYaml(value) {\n  return (value || '').toString().replace(/\\n/g, ' ').replace(/\"/g, '\\\\\"');\n}\n\nfunction markdownTable(stageLogs) {\n  const header = [\n    '| step | agent | status | input_ref | output_ref | quality_score | notes | ts |',\n    '|---|---|---|---|---|---:|---|---|'\n  ];\n\n  const rows = stageLogs.map((entry) => {\n    return [\n      '| ' + entry.step,\n      entry.agent,\n      entry.status,\n      entry.input_ref,\n      entry.output_ref,\n      Number(entry.quality_score || 0).toFixed(2),\n      (entry.notes || '').toString().replace(/\\|/g, '/'),\n      entry.ts + ' |'\n    ].join(' | ');\n  });\n\n  return header.concat(rows).join('\\n');\n}\n\nconst finalNote = ctx.final_note;\nif (!finalNote) {\n  throw new Error('No final note payload present');\n}\n\nconst postFrontmatter = [\n  '---',\n  'description: \"' + safeYaml(finalNote.description) + '\"',\n  'channel: ' + safeYaml(finalNote.channel),\n  'format: ' + safeYaml(finalNote.format),\n  'status: ' + safeYaml(finalNote.status),\n  'link: \"' + safeYaml(finalNote.link) + '\"',\n  'run_id: ' + safeYaml(ctx.run_id),\n  '---',\n  ''\n].join('\\n');\n\nconst postMarkdown = postFrontmatter + finalNote.markdown_body;\nconst postPath = ctx.obsidian_notes_dir + '/' + finalNote.file_name;\n\nconst stepsFrontmatter = [\n  '---',\n  'type: social-pipeline-run',\n  'run_id: ' + safeYaml(ctx.run_id),\n  'created_at: ' + safeYaml(ctx.created_at),\n  'completed_at: ' + safeYaml(ctx.completed_at),\n  'status: completed',\n  'topic: \"' + safeYaml(ctx.topic) + '\"',\n  'model_requested: ' + safeYaml(ctx.model),\n  'model_used: ' + safeYaml(ctx.model_used || ctx.active_model || ctx.model),\n  '---',\n  ''\n].join('\\n');\n\nconst stepsBody = [\n  '# Run ' + ctx.run_id,\n  '',\n  markdownTable(ctx.stage_logs || []),\n  '',\n  '## Final Output',\n  '- post_note_path: ' + postPath,\n  '- final_status: draft_ready',\n  '- publish_decision: pending_review',\n  '',\n  '## Stage Artifacts (summary)',\n  '- evidence_packets: ' + ((ctx.artifacts.agent1_evidence_packets || []).length || 0),\n  '- selected_topic: ' + safeYaml(ctx.topic),\n  '- visual_briefs: ' + ((ctx.artifacts.agent5_visual_briefs || []).length || 0),\n  '',\n  '## Model Selection',\n  '- requested: ' + safeYaml(ctx.model),\n  '- used: ' + safeYaml(ctx.model_used || ctx.active_model || ctx.model),\n  '- switches: ' + JSON.stringify(ctx.model_switch_log || [])\n].join('\\n');\n\nconst stepsMarkdown = stepsFrontmatter + stepsBody;\nconst stepsPath = ctx.obsidian_steps_dir + '/' + ctx.run_id + '.md';\n\nreturn [\n  {\n    json: {\n      run_id: ctx.run_id,\n      model_requested: ctx.model,\n      model_used: ctx.model_used || ctx.active_model || ctx.model,\n      topic: ctx.topic,\n      stage_count: (ctx.stage_logs || []).length,\n      postPath,\n      postMarkdown,\n      stepsPath,\n      stepsMarkdown\n    }\n  }\n];"
      },
      "id": "build-payloads",
      "name": "Build Obsidian Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        260
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$env.OBSIDIAN_REST_URL + '/vault/' + $json.postPath}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OBSIDIAN_REST_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "text/markdown"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{$json.postMarkdown}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "write-post-note",
      "name": "Write Post Note via Obsidian REST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        140
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$env.OBSIDIAN_REST_URL + '/vault/' + $json.stepsPath}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OBSIDIAN_REST_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "text/markdown"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{$json.stepsMarkdown}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "write-steps-note",
      "name": "Write Steps Note via Obsidian REST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    run_id: $json.run_id,\n    model_requested: $json.model_requested,\n    model_used: $json.model_used,\n    topic: $json.topic,\n    stage_count: $json.stage_count,\n    post_note_path: $json.postPath,\n    steps_note_path: $json.stepsPath,\n    status: 'ready_for_editorial_review'\n  }\n}];"
      },
      "id": "return-summary",
      "name": "Return Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        260
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Context + Load Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Context + Load Assets": {
      "main": [
        [
          {
            "node": "Run 7 Stage Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run 7 Stage Pipeline": {
      "main": [
        [
          {
            "node": "Build Obsidian Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Obsidian Payloads": {
      "main": [
        [
          {
            "node": "Write Post Note via Obsidian REST",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Steps Note via Obsidian REST",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "wf90-orchestrator-7stage-obsidian-v1"
}
