n8n/workflows/WF90_Orchestrator_7Stage_Obsidian.json
{
  "name": "WF90 Workflow Orchestrator",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6f5f4b9-1f8d-4e1a-95b8-cf0f3ec6d901",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-1",
      "name": "Start Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1180,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = (items[0] && items[0].json) ? items[0].json : {};\nconst now = new Date();\nconst stamp = now.toISOString().replace(/[-:.TZ]/g, '').slice(0, 14);\nconst executionId = ($execution && $execution.id) ? String($execution.id) : 'manual';\nconst runId = 'run-' + executionId + '-' + stamp;\n\nconst context = {\n  run_id: runId,\n  execution_id: executionId,\n  created_at: now.toISOString(),\n  completed_at: null,\n  status: 'running',\n\n  model_primary: input.model || $env.OLLAMA_MODEL || 'qwen3.5:27b',\n  model_used: input.model || $env.OLLAMA_MODEL || 'qwen3.5:27b',\n\n  topic_hint: input.topic || '',\n\n  workflow_dir: input.workflow_dir || $env.OBSIDIAN_WORKFLOW_DIR || 'Marketing/Social-Media/Workflow',\n  workflow_logs_dir: input.workflow_logs_dir || $env.OBSIDIAN_WORKFLOW_LOGS_DIR || 'Marketing/Social-Media/Workflow/Workflow Logs',\n  workflow_results_dir: input.workflow_results_dir || $env.OBSIDIAN_WORKFLOW_RESULTS_DIR || 'Marketing/Social-Media/Workflow/Workflow Ergebnisse',\n  workflow_drafts_dir: input.workflow_drafts_dir || $env.OBSIDIAN_WORKFLOW_DRAFTS_DIR || 'Marketing/Social-Media/Workflow/Drafts',\n  workflow_prompts_dir: input.workflow_prompts_dir || $env.OBSIDIAN_WORKFLOW_PROMPTS_DIR || 'Marketing/Social-Media/Workflow/Prompts',\n\n  workflow_results_index: input.workflow_results_index || $env.OBSIDIAN_WORKFLOW_RESULTS_INDEX || 'Marketing/Social-Media/Workflow/Workflow Ergebnisse/00-Workflow-Ergebnisse.md',\n  workflow_steps_file: input.workflow_steps_file || $env.OBSIDIAN_WORKFLOW_STEPS_FILE || 'Marketing/Social-Media/Workflow/Workflow Schritte.md',\n  workflow_intermediate_file: input.workflow_intermediate_file || $env.OBSIDIAN_WORKFLOW_INTERMEDIATE_FILE || 'Marketing/Social-Media/Workflow/Workflow Zwischenergebnisse.md',\n  workflow_overview_file: input.workflow_overview_file || $env.OBSIDIAN_WORKFLOW_OVERVIEW_FILE || 'Marketing/Social-Media/Workflow/Workflow Übersicht.md',\n\n  obsidian_rest_url: $env.OBSIDIAN_REST_URL || '',\n  obsidian_rest_api_key: $env.OBSIDIAN_REST_API_KEY || '',\n  allow_insecure_tls: String($env.OBSIDIAN_ALLOW_INSECURE_TLS || 'true').toLowerCase() === 'true',\n\n  prompts: {},\n  stage_logs: [],\n  stage_summaries: [],\n  artifacts: {},\n\n  output_paths: {},\n};\n\nreturn [{ json: context }];\n\n"
      },
      "id": "code-init",
      "name": "Init Run Kontext",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = items[0].json;\n\nif (!ctx.obsidian_rest_url || !ctx.obsidian_rest_api_key) {\n  throw new Error('Missing OBSIDIAN_REST_URL or OBSIDIAN_REST_API_KEY');\n}\n\nconst baseUrl = String(ctx.obsidian_rest_url).replace(/\\/+$/, '');\n\nfunction vaultUrl(path) {\n  return baseUrl + '/vault/' + encodeURI(path);\n}\n\nasync function obsidianGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET',\n    url: vaultUrl(path),\n    headers: {\n      Authorization: 'Bearer ' + ctx.obsidian_rest_api_key,\n    },\n    json: false,\n    skipSslCertificateValidation: !!ctx.allow_insecure_tls,\n  });\n}\n\nasync function obsidianPut(path, body) {\n  return await this.helpers.httpRequest({\n    method: 'PUT',\n    url: vaultUrl(path),\n    headers: {\n      Authorization: 'Bearer ' + ctx.obsidian_rest_api_key,\n      'Content-Type': 'text/markdown',\n    },\n    body,\n    json: false,\n    skipSslCertificateValidation: !!ctx.allow_insecure_tls,\n  });\n}\n\nasync function readRequiredTextFile(path) {\n  try {\n    const text = await obsidianGet.call(this, path);\n    if (!text || !String(text).trim()) {\n      throw new Error('Prompt file is empty: ' + path);\n    }\n    return String(text).trim();\n  } catch (error) {\n    const status = Number(\n      (error && (error.statusCode || error.status || error.httpCode)) ||\n      (error && error.response ? (error.response.status || error.response.statusCode || 0) : 0)\n    );\n    const isNotFound = status === 404 || /status code 404|\\b404\\b/i.test(String(error && error.message ? error.message : ''));\n    if (isNotFound) {\n      throw new Error('Required prompt file missing: ' + path);\n    }\n    throw new Error('Obsidian read failed for \"' + path + '\": ' + (error.message || 'unknown error'));\n  }\n}\n\nconst promptPaths = {\n  agent1_research: ctx.workflow_prompts_dir + '/agent1_research.md',\n  agent2_topic_fit: ctx.workflow_prompts_dir + '/agent2_topic_fit.md',\n  agent3_draft: ctx.workflow_prompts_dir + '/agent3_draft.md',\n  agent4_ai_sounding_critic: ctx.workflow_prompts_dir + '/agent4_ai_sounding_critic.md',\n  agent6_strategy_critic: ctx.workflow_prompts_dir + '/agent6_strategy_critic.md',\n  agent7_strategy_critic: ctx.workflow_prompts_dir + '/agent7_strategy_critic.md',\n  platform_linkedin: ctx.workflow_prompts_dir + '/platform_linkedin.md',\n  platform_reddit: ctx.workflow_prompts_dir + '/platform_reddit.md',\n  qwen_step_summary: ctx.workflow_prompts_dir + '/qwen_step_summary.md',\n};\n\nfor (const [key, path] of Object.entries(promptPaths)) {\n  ctx.prompts[key] = await readRequiredTextFile.call(this, path);\n}\n\nreturn [{ json: ctx }];\n\n"
      },
      "id": "code-prompts",
      "name": "Load Prompt Dateien",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = items[0].json;\n\nconst primaryModel = String(ctx.model_primary || 'qwen3.5:27b');\nlet activeModel = primaryModel;\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nfunction shortText(value, maxLen = 320) {\n  const text = (typeof value === 'string') ? value : JSON.stringify(value || '');\n  if (text.length <= maxLen) return text;\n  return text.slice(0, maxLen - 3) + '...';\n}\n\nfunction clamp(value, min, max, fallback) {\n  const n = Number(value);\n  if (!Number.isFinite(n)) return fallback;\n  if (n < min) return min;\n  if (n > max) return max;\n  return n;\n}\n\nfunction sanitizeSlug(value) {\n  return String(value || 'workflow')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .slice(0, 80) || 'workflow';\n}\n\nfunction yamlEscape(value) {\n  return String(value || '').replace(/\\n/g, ' ').replace(/\"/g, '\\\\\"');\n}\n\nfunction ensureArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction extractJsonCandidate(rawText) {\n  if (typeof rawText !== 'string') {\n    throw new Error('Model output is not a string');\n  }\n\n  const fenced = rawText.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  const text = (fenced ? fenced[1] : rawText).trim();\n\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    // continue below\n  }\n\n  const objStart = text.indexOf('{');\n  const arrStart = text.indexOf('[');\n  const starts = [objStart, arrStart].filter((v) => v >= 0);\n  if (!starts.length) {\n    throw new Error('No JSON start found');\n  }\n\n  const start = Math.min(...starts);\n  const firstChar = text[start];\n  const openChar = firstChar;\n  const closeChar = firstChar === '{' ? '}' : ']';\n\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n\n  for (let i = start; i < text.length; i++) {\n    const ch = text[i];\n\n    if (inString) {\n      if (escaped) {\n        escaped = false;\n      } else if (ch === '\\\\') {\n        escaped = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    }\n\n    if (ch === '\"') {\n      inString = true;\n      continue;\n    }\n\n    if (ch === openChar) depth += 1;\n    if (ch === closeChar) {\n      depth -= 1;\n      if (depth === 0) {\n        const candidate = text.slice(start, i + 1);\n        return JSON.parse(candidate);\n      }\n    }\n  }\n\n  throw new Error('Could not extract valid JSON payload');\n}\n\nasync function callOllamaRaw(systemPrompt, userPrompt, options = {}) {\n  const temperature = Number.isFinite(Number(options.temperature)) ? Number(options.temperature) : 0.3;\n  const numPredict = Number.isFinite(Number(options.num_predict)) ? Number(options.num_predict) : 180;\n  const numCtx = Number.isFinite(Number(options.num_ctx)) ? Number(options.num_ctx) : 768;\n  const timeout = Number.isFinite(Number(options.timeout)) ? Number(options.timeout) : 900000;\n  const maxAttempts = Number.isFinite(Number(options.max_attempts)) ? Number(options.max_attempts) : 3;\n  const keepAlive = String(options.keep_alive || '30m');\n  const warmupPing = String(options.warmup_ping || 'return {\"ok\":true}');\n\n  async function warmModel() {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: (($env.OLLAMA_BASE_URL || 'http://host.docker.internal:11434').replace(/\\/+$/, '') + '/api/chat'),\n        body: {\n          model: activeModel,\n          stream: false,\n          keep_alive: keepAlive,\n          messages: [\n            { role: 'system', content: 'You are a lightweight warmup responder. Reply with {\"ok\":true}.' },\n            { role: 'user', content: warmupPing },\n          ],\n          options: {\n            temperature: 0,\n            num_predict: 12,\n            num_ctx: 256,\n          },\n        },\n        json: true,\n        timeout: 120000,\n      });\n      console.log('[WF90_OLLAMA_WARMUP] run_id=' + ctx.run_id + ' model=' + activeModel + ' status=ok');\n    } catch (error) {\n      console.log('[WF90_OLLAMA_WARMUP] run_id=' + ctx.run_id + ' model=' + activeModel + ' status=skip reason=' + shortText(error && error.message ? error.message : 'unknown', 140));\n    }\n  }\n\n  if (!ctx.artifacts.ollama_warmed) {\n    await warmModel.call(this);\n    ctx.artifacts.ollama_warmed = true;\n  }\n\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      const data = await this.helpers.httpRequest({\n        method: 'POST',\n        url: (($env.OLLAMA_BASE_URL || 'http://host.docker.internal:11434').replace(/\\/+$/, '') + '/api/chat'),\n        body: {\n          model: activeModel,\n          stream: false,\n          keep_alive: keepAlive,\n          messages: [\n            { role: 'system', content: systemPrompt },\n            { role: 'user', content: userPrompt },\n          ],\n          options: {\n            temperature,\n            num_predict: numPredict,\n            num_ctx: numCtx,\n          },\n        },\n        json: true,\n        timeout,\n      });\n\n      const text = data && data.message ? data.message.content : data.response;\n      if (!text) {\n        throw new Error('Ollama response has no content');\n      }\n\n      ctx.model_used = activeModel;\n\n      return {\n        text: String(text),\n        model_used: activeModel,\n      };\n    } catch (error) {\n      let status = error && error.response && error.response.status\n        ? error.response.status\n        : (error && error.httpCode ? error.httpCode : 0);\n      const apiError = error && error.response && error.response.data && error.response.data.error\n        ? error.response.data.error\n        : '';\n      const details = [error && error.message ? error.message : '', apiError].filter(Boolean).join(' | ');\n      if (!status) {\n        const statusMatch = details.match(/status code\\s+([0-9]{3})/i);\n        if (statusMatch) status = Number(statusMatch[1]);\n      }\n      const retryable = status >= 500 || /status code\\s+5[0-9]{2}|runner process has terminated|llama runner|timed out|socket hang up|econnreset|context canceled|connection reset|no content|response has no content|empty response/i.test(details);\n\n      if (retryable && attempt < maxAttempts) {\n        const waitMs = 2500 * attempt;\n        console.log('[WF90_OLLAMA_RETRY] run_id=' + ctx.run_id + ' attempt=' + attempt + '/' + maxAttempts + ' wait_ms=' + waitMs + ' status=' + status);\n        await new Promise((resolve) => setTimeout(resolve, waitMs));\n        await warmModel.call(this);\n        continue;\n      }\n\n      throw new Error(\n        'Ollama call failed for \"' + activeModel + '\" (status=' + status + ', attempt=' + attempt + '/' + maxAttempts + '): ' + (details || 'unknown error')\n      );\n    }\n  }\n}\n\nasync function callOllamaJson(systemPrompt, userPrompt, options = {}) {\n  const raw = await callOllamaRaw.call(this, systemPrompt, userPrompt, options);\n  return {\n    parsed: extractJsonCandidate(raw.text),\n    raw_text: raw.text,\n    model_used: raw.model_used,\n  };\n}\n\nasync function callOllamaText(systemPrompt, userPrompt, options = {}) {\n  const raw = await callOllamaRaw.call(this, systemPrompt, userPrompt, options);\n  return {\n    text: raw.text,\n    model_used: raw.model_used,\n  };\n}\n\nasync function callSearx(query) {\n  const maxAttempts = 4;\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      return await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'http://searxng:8080/search',\n        qs: {\n          format: 'json',\n          language: 'de-DE',\n          q: query,\n        },\n        headers: {\n          'User-Agent': 'Mozilla/5.0 (sandbank-workflow-research)',\n        },\n        json: true,\n      });\n    } catch (error) {\n      const status = error && error.response && error.response.status\n        ? error.response.status\n        : (error && error.httpCode ? error.httpCode : 0);\n      if (status === 429 && attempt < maxAttempts) {\n        await new Promise((resolve) => setTimeout(resolve, 450 * attempt));\n        continue;\n      }\n      throw new Error('SearXNG failed for query \"' + query + '\": ' + (error.message || 'request error'));\n    }\n  }\n  throw new Error('SearXNG failed after retries for query \"' + query + '\"');\n}\n\nfunction addStage(step, stage, status, inputRef, outputRef, quality, notes, issueCount = 0) {\n  if (!Array.isArray(ctx.model_trace)) ctx.model_trace = [];\n  ctx.model_trace.push({\n    step,\n    stage,\n    model_used: ctx.model_used,\n    ts: nowIso(),\n  });\n  ctx.stage_logs.push({\n    step,\n    stage,\n    status,\n    input_ref: inputRef,\n    output_ref: outputRef,\n    quality_score: Number.isFinite(Number(quality)) ? Number(quality) : 0,\n    notes: String(notes || ''),\n    issues: Number.isFinite(Number(issueCount)) ? Number(issueCount) : 0,\n    model_used: ctx.model_used,\n    ts: nowIso(),\n  });\n}\n\nfunction assertType(label, value, type) {\n  if (type === 'array') {\n    if (!Array.isArray(value)) throw new Error(label + ' must be an array');\n    return;\n  }\n  if (type === 'object') {\n    if (!value || typeof value !== 'object' || Array.isArray(value)) throw new Error(label + ' must be an object');\n    return;\n  }\n  if (typeof value !== type) {\n    throw new Error(label + ' must be type ' + type);\n  }\n}\n\nfunction assertStringArray(label, arr, minLen = 0) {\n  assertType(label, arr, 'array');\n  if (arr.length < minLen) throw new Error(label + ' requires at least ' + minLen + ' item(s)');\n  for (let i = 0; i < arr.length; i++) {\n    if (typeof arr[i] !== 'string') throw new Error(label + '[' + i + '] must be string');\n  }\n}\n\nfunction validatePlatformResearch(label, payload) {\n  assertType(label, payload, 'object');\n  const required = ['core_problem', 'proof_points'];\n  for (const key of required) {\n    if (!(key in payload)) throw new Error(label + ' missing key: ' + key);\n  }\n  assertType(label + '.core_problem', payload.core_problem, 'string');\n  assertStringArray(label + '.proof_points', payload.proof_points, 1);\n}\n\nfunction validateDraftPackageStrict(payload) {\n  assertType('draft_package', payload, 'object');\n  if (!('topic' in payload) || !('drafts' in payload)) {\n    throw new Error('draft_package missing required keys');\n  }\n  assertType('draft_package.topic', payload.topic, 'string');\n  assertType('draft_package.drafts', payload.drafts, 'array');\n  if (payload.drafts.length < 2) throw new Error('draft_package.drafts requires at least 2 drafts');\n  for (let i = 0; i < payload.drafts.length; i++) {\n    const d = payload.drafts[i];\n    assertType('draft_package.drafts[' + i + ']', d, 'object');\n    for (const key of ['platform', 'title', 'body', 'cta']) {\n      if (!(key in d)) throw new Error('draft_package.drafts[' + i + '] missing key: ' + key);\n      assertType('draft_package.drafts[' + i + '].' + key, d[key], 'string');\n    }\n    if (!Array.isArray(d.hashtags || [])) throw new Error('draft_package.drafts[' + i + '].hashtags must be array');\n    if (!Array.isArray(d.notes || [])) throw new Error('draft_package.drafts[' + i + '].notes must be array');\n  }\n}\n\nasync function addStageSummary(step, stage, payload) {\n  const summaryPrompt = [\n    ctx.prompts.qwen_step_summary,\n    'Schritt: ' + step + ' - ' + stage,\n    'Payload: ' + shortText(payload, 2500),\n    'Antworte nur mit einer kompakten Zusammenfassung.',\n  ].join('\\n\\n');\n\n  let summary = '';\n  try {\n    const res = await callOllamaText.call(\n      this,\n      'Du schreibst knappe Workflow-Zusammenfassungen. Keine Markdown-Listen.',\n      summaryPrompt,\n      { temperature: 0.1, num_predict: 40, num_ctx: 256, timeout: 90000, max_attempts: 2 }\n    );\n    summary = shortText(res.text.replace(/\\s+/g, ' ').trim(), 280);\n  } catch (error) {\n    summary = 'Zusammenfassung fehlgeschlagen: ' + shortText(error.message || 'unknown', 180);\n  }\n\n  ctx.stage_summaries.push({\n    step,\n    stage,\n    summary,\n  });\n}\n\nfunction validateTopicBrief(data) {\n  const required = ['topic', 'angle', 'why_now', 'platform_recommendation', 'confidence'];\n  for (const key of required) {\n    if (!(key in data)) throw new Error('topic_brief missing key: ' + key);\n  }\n}\n\nfunction normalizeDraftPackage(candidate, fallbackTopic) {\n  if (!candidate || !Array.isArray(candidate.drafts)) {\n    throw new Error('draft_package invalid: drafts missing');\n  }\n\n  const drafts = candidate.drafts.map((draft, index) => {\n    return {\n      platform: String(draft.platform || '').toLowerCase() || (index === 0 ? 'linkedin' : 'reddit'),\n      title: String(draft.title || ('Draft ' + (index + 1))),\n      body: String(draft.body || ''),\n      cta: String(draft.cta || ''),\n      hashtags: ensureArray(draft.hashtags).map((h) => String(h)),\n      notes: ensureArray(draft.notes).map((n) => String(n)),\n    };\n  });\n\n  return {\n    topic: String(candidate.topic || fallbackTopic || 'Workflow Thema'),\n    drafts,\n  };\n}\n\nfunction normalizeCritique(candidate, stage) {\n  const src = candidate && candidate.critique_report ? candidate.critique_report : candidate;\n  if (!src || typeof src !== 'object') {\n    throw new Error(stage + ' critique invalid');\n  }\n  const issues = ensureArray(src.issues).map((issue) => ({\n    severity: ['low', 'medium', 'high'].includes(issue && issue.severity) ? issue.severity : 'medium',\n    message: String(issue && issue.message ? issue.message : 'unspecified issue'),\n  }));\n  return {\n    stage: String(src.stage || stage),\n    score: clamp(src.score, 0, 10, 6),\n    issues,\n    improved_draft: src.improved_draft || {},\n  };\n}\n\nfunction average(values) {\n  if (!values.length) return 0;\n  return values.reduce((sum, value) => sum + value, 0) / values.length;\n}\n\nfunction compactEvidence(packets, limit = 6) {\n  return ensureArray(packets).slice(0, limit).map((packet) => ({\n    query: shortText(packet.query || '', 80),\n    title: shortText(packet.title || '', 100),\n    url: shortText(packet.url || '', 180),\n    summary: shortText(packet.summary || '', 140),\n    key_points: ensureArray(packet.key_points).slice(0, 1).map((p) => shortText(p, 90)),\n    source_type: shortText(packet.source_type || '', 40),\n  }));\n}\n\nfunction compactDraftPackage(pkg) {\n  const draftPackage = pkg && typeof pkg === 'object' ? pkg : {};\n  return {\n    topic: shortText(draftPackage.topic || '', 120),\n    drafts: ensureArray(draftPackage.drafts).slice(0, 2).map((draft) => ({\n      platform: shortText(draft.platform || '', 20),\n      title: shortText(draft.title || '', 120),\n      body: shortText(draft.body || '', 900),\n      cta: shortText(draft.cta || '', 140),\n      hashtags: ensureArray(draft.hashtags).slice(0, 8).map((tag) => shortText(tag, 30)),\n    })),\n  };\n}\n\nconst totalStages = 9;\n\nfunction stagePercent(step, phase) {\n  const base = Math.round((Number(step) / totalStages) * 100);\n  const adjusted = phase === 'start' ? Math.max(1, base - 5) : base;\n  return Math.max(1, Math.min(99, adjusted));\n}\n\nfunction emitProgress(step, stage, phase, note = '') {\n  const pct = stagePercent(step, phase);\n  const progress = {\n    run_id: ctx.run_id,\n    step,\n    stage,\n    phase,\n    pct,\n    note: String(note || ''),\n    ts: nowIso(),\n  };\n  ctx.artifacts.progress = progress;\n  console.log(\n    '[WF90_PROGRESS] run_id=' + progress.run_id\n    + ' step=' + progress.step + '/' + totalStages\n    + ' pct=' + progress.pct\n    + ' stage=' + progress.stage\n    + ' phase=' + progress.phase\n    + (progress.note ? ' note=' + progress.note.replace(/\\s+/g, '_') : '')\n    + ' ts=' + progress.ts\n  );\n}\n\nasync function runJsonStrict(systemPrompt, userPrompt, options) {\n  return await callOllamaJson.call(this, systemPrompt, userPrompt, options);\n}\n\n// Stage 1: Collect Research Daten\nemitProgress(1, 'collect_research_daten', 'start');\nconst baseQueries = [\n  ctx.topic_hint ? String(ctx.topic_hint) + ' b2b datenanalyse praxis' : null,\n  'b2b analytics reporting pain points 2026',\n  'data infrastructure saas trends 2026',\n  'site:reddit.com dataengineering dashboard reporting',\n  'site:reddit.com SideProject openrouter exa serp',\n].filter(Boolean);\n\nconst rawSignals = [];\nconst failedQueries = [];\n\nfor (const query of baseQueries.slice(0, 4)) {\n  try {\n    const response = await callSearx.call(this, query);\n    const results = ensureArray(response.results).slice(0, 4);\n    for (const result of results) {\n      rawSignals.push({\n        query,\n        source_type: query.includes('site:reddit.com') ? 'searx_reddit' : 'web',\n        title: String(result.title || ''),\n        url: String(result.url || ''),\n        summary: String(result.content || result.snippet || ''),\n        published_at: String(result.publishedDate || ''),\n      });\n    }\n  } catch (error) {\n    failedQueries.push({ query, reason: String(error.message || 'unknown') });\n  }\n}\n\nif (!rawSignals.length) {\n  throw new Error('No research signals collected. Failed queries: ' + JSON.stringify(failedQueries));\n}\n\nctx.artifacts.raw_signals = rawSignals;\naddStage(\n  1,\n  'collect_research_daten',\n  'ok',\n  'run/' + ctx.run_id + '/stage1/input',\n  'run/' + ctx.run_id + '/stage1/raw_signals',\n  rawSignals.length >= 6 ? 8.5 : 6.5,\n  'signals=' + rawSignals.length + '; failed_queries=' + failedQueries.length,\n  failedQueries.length\n);\nawait addStageSummary.call(this, 1, 'collect_research_daten', JSON.stringify(rawSignals.slice(0, 6)));\nemitProgress(1, 'collect_research_daten', 'done', 'signals=' + rawSignals.length);\n\n// Stage 2: Build Evidence Paket\nemitProgress(2, 'build_evidence_paket', 'start');\nlet evidencePackets = rawSignals.slice(0, 12).map((signal) => {\n  const pointA = shortText(signal.title || 'Signal ohne Titel', 120);\n  const pointB = shortText(signal.summary || 'Keine Zusammenfassung verfuegbar.', 140);\n  const isReddit = String(signal.source_type || '').includes('reddit');\n  return {\n    query: String(signal.query || ''),\n    source_type: String(signal.source_type || 'web'),\n    title: String(signal.title || ''),\n    url: String(signal.url || ''),\n    published_at: String(signal.published_at || ''),\n    summary: String(signal.summary || ''),\n    key_points: [pointA, pointB].filter(Boolean),\n    icp_fit_score: isReddit ? 0.62 : 0.74,\n    product_relevance_score: isReddit ? 0.58 : 0.71,\n    evidence_strength: String(signal.url || '').startsWith('http') ? 0.69 : 0.48,\n    risk_notes: [isReddit ? 'community_signal' : 'web_signal'],\n  };\n});\n\nctx.artifacts.evidence_packets = evidencePackets;\naddStage(\n  2,\n  'build_evidence_paket',\n  'ok',\n  'run/' + ctx.run_id + '/stage2/input',\n  'run/' + ctx.run_id + '/stage2/evidence_packets',\n  average(evidencePackets.map((p) => p.evidence_strength)),\n  'packets=' + evidencePackets.length\n);\nawait addStageSummary.call(this, 2, 'build_evidence_paket', JSON.stringify(evidencePackets.slice(0, 4)));\nemitProgress(2, 'build_evidence_paket', 'done', 'packets=' + evidencePackets.length);\n\n// Stage 3: Build Topic Brief\nemitProgress(3, 'build_topic_brief', 'start');\nconst stage3Prompt = [\n  ctx.prompts.agent2_topic_fit,\n  'Return JSON only.',\n  'Evidence packets: ' + JSON.stringify(compactEvidence(evidencePackets, 4)),\n].join('\\n\\n');\n\nconst stage3 = await runJsonStrict.call(\n  this,\n  'You are a product strategy reviewer. Return valid JSON only.',\n  stage3Prompt,\n  { temperature: 0.2, num_predict: 110, num_ctx: 768, timeout: 180000, max_attempts: 3 }\n);\n\nconst topicBrief = stage3.parsed;\nvalidateTopicBrief(topicBrief);\ntopicBrief.confidence = clamp(topicBrief.confidence, 0, 1, 0.5);\nif (!Array.isArray(topicBrief.platform_recommendation) || !topicBrief.platform_recommendation.length) {\n  topicBrief.platform_recommendation = ['linkedin', 'reddit'];\n}\n\nctx.artifacts.topic_brief = topicBrief;\naddStage(\n  3,\n  'build_topic_brief',\n  'ok',\n  'run/' + ctx.run_id + '/stage3/input',\n  'run/' + ctx.run_id + '/stage3/topic_brief',\n  topicBrief.confidence,\n  shortText(topicBrief.angle, 160)\n);\nawait addStageSummary.call(this, 3, 'build_topic_brief', JSON.stringify(topicBrief));\nemitProgress(3, 'build_topic_brief', 'done', shortText(topicBrief.topic, 40));\n\n// Stage 4: Build LinkedIn Fokus\nemitProgress(4, 'build_linkedin_fokus', 'start');\nconst stage4Prompt = [\n  ctx.prompts.platform_linkedin,\n  'Return JSON only.',\n  'Topic brief: ' + shortText(JSON.stringify(topicBrief), 1200),\n  'Evidence packets: ' + JSON.stringify(compactEvidence(evidencePackets, 3)),\n].join('\\n\\n');\n\nconst stage4 = await runJsonStrict.call(\n  this,\n  'You format research for LinkedIn. Return valid JSON only.',\n  stage4Prompt,\n  { temperature: 0.2, num_predict: 110, num_ctx: 768, timeout: 150000, max_attempts: 3 }\n);\n\nconst linkedinResearch = stage4.parsed;\nvalidatePlatformResearch('linkedin_research', linkedinResearch);\nctx.artifacts.linkedin_research = linkedinResearch;\naddStage(\n  4,\n  'build_linkedin_fokus',\n  'ok',\n  'run/' + ctx.run_id + '/stage4/input',\n  'run/' + ctx.run_id + '/stage4/linkedin_research',\n  8.4,\n  shortText(linkedinResearch.core_problem || linkedinResearch.platform || 'linkedin_research_ready', 160)\n);\nawait addStageSummary.call(this, 4, 'build_linkedin_fokus', JSON.stringify(linkedinResearch));\nemitProgress(4, 'build_linkedin_fokus', 'done');\n\n// Stage 5: Build Reddit Fokus\nemitProgress(5, 'build_reddit_fokus', 'start');\nconst stage5Prompt = [\n  ctx.prompts.platform_reddit,\n  'Return JSON only.',\n  'Topic brief: ' + shortText(JSON.stringify(topicBrief), 1200),\n  'Evidence packets: ' + JSON.stringify(compactEvidence(evidencePackets, 3)),\n].join('\\n\\n');\n\nconst stage5 = await runJsonStrict.call(\n  this,\n  'You format research for Reddit. Return valid JSON only.',\n  stage5Prompt,\n  { temperature: 0.2, num_predict: 110, num_ctx: 768, timeout: 150000, max_attempts: 3 }\n);\n\nconst redditResearch = stage5.parsed;\nvalidatePlatformResearch('reddit_research', redditResearch);\nctx.artifacts.reddit_research = redditResearch;\naddStage(\n  5,\n  'build_reddit_fokus',\n  'ok',\n  'run/' + ctx.run_id + '/stage5/input',\n  'run/' + ctx.run_id + '/stage5/reddit_research',\n  8.4,\n  shortText(redditResearch.core_problem || redditResearch.platform || 'reddit_research_ready', 160)\n);\nawait addStageSummary.call(this, 5, 'build_reddit_fokus', JSON.stringify(redditResearch));\nemitProgress(5, 'build_reddit_fokus', 'done');\n\n// Stage 6: Build Draft Entwurfe\nemitProgress(6, 'build_draft_entwuerfe', 'start');\nconst stage6Prompt = [\n  ctx.prompts.agent3_draft,\n  'Return JSON only.',\n  'Topic brief: ' + shortText(JSON.stringify(topicBrief), 1200),\n  'LinkedIn prep: ' + shortText(JSON.stringify(linkedinResearch), 2200),\n  'Reddit prep: ' + shortText(JSON.stringify(redditResearch), 2200),\n  'Evidence packets: ' + JSON.stringify(compactEvidence(evidencePackets, 3)),\n].join('\\n\\n');\n\nconst stage6 = await runJsonStrict.call(\n  this,\n  'You are a senior B2B social copywriter. Return valid JSON only.',\n  stage6Prompt,\n  { temperature: 0.25, num_predict: 140, num_ctx: 768, timeout: 180000, max_attempts: 3 }\n);\n\nlet draftPackage = normalizeDraftPackage(stage6.parsed, topicBrief.topic);\nvalidateDraftPackageStrict(draftPackage);\n\nfunction ensurePlatformDraft(drafts, platformName) {\n  const existing = drafts.find((d) => d.platform === platformName);\n  if (existing) return existing;\n  const seed = drafts[0] || {\n    platform: platformName,\n    title: topicBrief.topic,\n    body: 'Draft fehlt - manuelle Nachbearbeitung erforderlich.',\n    cta: 'Bitte manuell validieren.',\n    hashtags: [],\n    notes: [],\n  };\n  return {\n    platform: platformName,\n    title: seed.title,\n    body: seed.body,\n    cta: seed.cta,\n    hashtags: ensureArray(seed.hashtags),\n    notes: ensureArray(seed.notes).concat(['derived_from_' + (seed.platform || 'unknown')]),\n  };\n}\n\nconst linkedinDraft = ensurePlatformDraft(draftPackage.drafts, 'linkedin');\nconst redditDraft = ensurePlatformDraft(draftPackage.drafts, 'reddit');\ndraftPackage.drafts = [linkedinDraft, redditDraft];\n\nctx.artifacts.draft_package = draftPackage;\naddStage(\n  6,\n  'build_draft_entwuerfe',\n  'ok',\n  'run/' + ctx.run_id + '/stage6/input',\n  'run/' + ctx.run_id + '/stage6/draft_package',\n  8.1,\n  'drafts=' + draftPackage.drafts.length\n);\nawait addStageSummary.call(this, 6, 'build_draft_entwuerfe', JSON.stringify(draftPackage));\nemitProgress(6, 'build_draft_entwuerfe', 'done', 'drafts=' + draftPackage.drafts.length);\n\n// Stage 7: Run AI Kritik\nemitProgress(7, 'run_ai_kritik', 'start');\nconst stage7Prompt = [\n  ctx.prompts.agent4_ai_sounding_critic,\n  'Return JSON only.',\n  'Draft package: ' + JSON.stringify(compactDraftPackage(draftPackage)),\n].join('\\n\\n');\n\nconst stage7 = await runJsonStrict.call(\n  this,\n  'You improve text naturalness while preserving meaning. Return valid JSON only.',\n  stage7Prompt,\n  { temperature: 0.2, num_predict: 110, num_ctx: 768, timeout: 150000, max_attempts: 3 }\n);\n\nconst critique7 = normalizeCritique(stage7.parsed, 'ai_kritik');\nif (critique7.improved_draft && critique7.improved_draft.drafts) {\n  draftPackage = normalizeDraftPackage(critique7.improved_draft, draftPackage.topic);\n  validateDraftPackageStrict(draftPackage);\n}\nctx.artifacts.critique_ai = critique7;\nctx.artifacts.draft_after_ai = draftPackage;\naddStage(\n  7,\n  'run_ai_kritik',\n  'ok',\n  'run/' + ctx.run_id + '/stage7/input',\n  'run/' + ctx.run_id + '/stage7/critique',\n  critique7.score,\n  'issues=' + critique7.issues.length,\n  critique7.issues.length\n);\nawait addStageSummary.call(this, 7, 'run_ai_kritik', JSON.stringify(critique7));\nemitProgress(7, 'run_ai_kritik', 'done', 'score=' + Number(critique7.score || 0).toFixed(2));\n\n// Stage 8: Run Strategie Kritik\nemitProgress(8, 'run_strategie_kritik_1', 'start');\nconst stage8Prompt = [\n  ctx.prompts.agent6_strategy_critic,\n  'Return JSON only.',\n  'Draft package: ' + JSON.stringify(compactDraftPackage(draftPackage)),\n  'Topic brief: ' + shortText(JSON.stringify(topicBrief), 1200),\n].join('\\n\\n');\n\nconst stage8 = await runJsonStrict.call(\n  this,\n  'You review strategy quality and improve weak assumptions. Return valid JSON only.',\n  stage8Prompt,\n  { temperature: 0.2, num_predict: 110, num_ctx: 768, timeout: 150000, max_attempts: 3 }\n);\n\nconst critique8 = normalizeCritique(stage8.parsed, 'strategie_kritik_1');\nif (critique8.improved_draft && critique8.improved_draft.drafts) {\n  draftPackage = normalizeDraftPackage(critique8.improved_draft, draftPackage.topic);\n  validateDraftPackageStrict(draftPackage);\n}\nctx.artifacts.critique_strategy_1 = critique8;\nctx.artifacts.draft_after_strategy_1 = draftPackage;\naddStage(\n  8,\n  'run_strategie_kritik_1',\n  'ok',\n  'run/' + ctx.run_id + '/stage8/input',\n  'run/' + ctx.run_id + '/stage8/critique',\n  critique8.score,\n  'issues=' + critique8.issues.length,\n  critique8.issues.length\n);\nawait addStageSummary.call(this, 8, 'run_strategie_kritik_1', JSON.stringify(critique8));\nemitProgress(8, 'run_strategie_kritik_1', 'done', 'score=' + Number(critique8.score || 0).toFixed(2));\n\n// Stage 9: Run Final Kritik\nemitProgress(9, 'run_strategie_kritik_2', 'start');\nconst stage9Prompt = [\n  ctx.prompts.agent7_strategy_critic,\n  'Return JSON only.',\n  'Draft package: ' + JSON.stringify(compactDraftPackage(draftPackage)),\n  'Topic brief: ' + shortText(JSON.stringify(topicBrief), 1200),\n].join('\\n\\n');\n\nconst stage9 = await runJsonStrict.call(\n  this,\n  'You run the strict final quality review. Return valid JSON only.',\n  stage9Prompt,\n  { temperature: 0.2, num_predict: 110, num_ctx: 768, timeout: 150000, max_attempts: 3 }\n);\n\nconst critique9 = normalizeCritique(stage9.parsed, 'strategie_kritik_2');\nif (critique9.improved_draft && critique9.improved_draft.drafts) {\n  draftPackage = normalizeDraftPackage(critique9.improved_draft, draftPackage.topic);\n  validateDraftPackageStrict(draftPackage);\n}\nctx.artifacts.critique_strategy_2 = critique9;\nctx.artifacts.final_draft_package = draftPackage;\naddStage(\n  9,\n  'run_strategie_kritik_2',\n  'ok',\n  'run/' + ctx.run_id + '/stage9/input',\n  'run/' + ctx.run_id + '/stage9/critique',\n  critique9.score,\n  'issues=' + critique9.issues.length,\n  critique9.issues.length\n);\nawait addStageSummary.call(this, 9, 'run_strategie_kritik_2', JSON.stringify(critique9));\nemitProgress(9, 'run_strategie_kritik_2', 'done', 'score=' + Number(critique9.score || 0).toFixed(2));\n\nconst topic = String(draftPackage.topic || topicBrief.topic || 'Workflow Thema');\nconst slug = sanitizeSlug(topic);\nconst date = nowIso().slice(0, 10);\n\nfunction findDraft(platform) {\n  return draftPackage.drafts.find((d) => d.platform === platform) || draftPackage.drafts[0];\n}\n\nconst linkedinFinalDraft = findDraft('linkedin');\nconst redditFinalDraft = findDraft('reddit');\n\nconst evidenceRefs = evidencePackets\n  .map((p) => String(p.url || '').trim())\n  .filter((url) => !!url)\n  .slice(0, 8);\n\nconst linkedinResearchPath = ctx.workflow_results_dir + '/' + ctx.run_id + ' - linkedin-ausarbeitung.md';\nconst redditResearchPath = ctx.workflow_results_dir + '/' + ctx.run_id + ' - reddit-ausarbeitung.md';\nconst linkedinDraftPath = ctx.workflow_drafts_dir + '/LinkedIn/' + date + ' - linkedin - ' + slug + '.md';\nconst redditDraftPath = ctx.workflow_drafts_dir + '/Reddit/' + date + ' - reddit - ' + slug + '.md';\n\nconst linkedinResearchMarkdown = [\n  '# LinkedIn Ausarbeitung',\n  '',\n  '- run_id: ' + ctx.run_id,\n  '- topic: ' + topic,\n  '- platform: linkedin',\n  '- model_used: ' + ctx.model_used,\n  '',\n  '## Kernproblem',\n  String(linkedinResearch.core_problem || ''),\n  '',\n  '## Insight Angles',\n  ensureArray(linkedinResearch.insight_angles).map((v) => '- ' + String(v)).join('\\n') || '- n/a',\n  '',\n  '## Proof Points',\n  ensureArray(linkedinResearch.proof_points).map((v) => '- ' + String(v)).join('\\n') || '- n/a',\n  '',\n  '## Hook Optionen',\n  ensureArray(linkedinResearch.hook_options).map((v) => '- ' + String(v)).join('\\n') || '- n/a',\n  '',\n  '## CTA Optionen',\n  ensureArray(linkedinResearch.cta_options).map((v) => '- ' + String(v)).join('\\n') || '- n/a',\n].join('\\n');\n\nconst redditResearchMarkdown = [\n  '# Reddit Ausarbeitung',\n  '',\n  '- run_id: ' + ctx.run_id,\n  '- topic: ' + topic,\n  '- platform: reddit',\n  '- model_used: ' + ctx.model_used,\n  '',\n  '## Kernproblem',\n  String(redditResearch.core_problem || ''),\n  '',\n  '## Praktische Takeaways',\n  ensureArray(redditResearch.practical_takeaways).map((v) => '- ' + String(v)).join('\\n') || '- n/a',\n  '',\n  '## Proof Points',\n  ensureArray(redditResearch.proof_points).map((v) => '- ' + String(v)).join('\\n') || '- n/a',\n  '',\n  '## Titel Optionen',\n  ensureArray(redditResearch.title_options).map((v) => '- ' + String(v)).join('\\n') || '- n/a',\n  '',\n  '## Discussion Prompts',\n  ensureArray(redditResearch.discussion_prompts).map((v) => '- ' + String(v)).join('\\n') || '- n/a',\n].join('\\n');\n\nconst linkedinDraftMarkdown = [\n  '---',\n  'Datum: ' + date,\n  'run_id: ' + ctx.run_id,\n  'Plattform: LinkedIn',\n  'Zielgruppe: B2B Marketing und Data Teams',\n  'Beitragstyp: Textbeitrag',\n  'Thema: \"' + yamlEscape(topic) + '\"',\n  'Hook: \"' + yamlEscape(linkedinFinalDraft.title || '') + '\"',\n  'Status: draft',\n  'model_used: ' + ctx.model_used,\n  'quality_score: ' + clamp(critique9.score, 0, 10, 6),\n  'evidence_refs:',\n  evidenceRefs.map((url) => '  - ' + url).join('\\n') || '  - n/a',\n  '---',\n  '',\n  '# ' + String(linkedinFinalDraft.title || topic),\n  '',\n  '## Beitrag',\n  String(linkedinFinalDraft.body || ''),\n  '',\n  '## CTA',\n  String(linkedinFinalDraft.cta || ''),\n  '',\n  '## Hashtags',\n  ensureArray(linkedinFinalDraft.hashtags).join(' '),\n].join('\\n');\n\nconst redditDraftMarkdown = [\n  '---',\n  'Datum: ' + date,\n  'run_id: ' + ctx.run_id,\n  'Plattform: Reddit',\n  'Zielgruppe: Tech und Builder Community',\n  'Beitragstyp: Diskussionsthread',\n  'Thema: \"' + yamlEscape(topic) + '\"',\n  'Hook: \"' + yamlEscape(redditFinalDraft.title || '') + '\"',\n  'Status: draft',\n  'model_used: ' + ctx.model_used,\n  'quality_score: ' + clamp(critique9.score, 0, 10, 6),\n  'evidence_refs:',\n  evidenceRefs.map((url) => '  - ' + url).join('\\n') || '  - n/a',\n  '---',\n  '',\n  '# ' + String(redditFinalDraft.title || topic),\n  '',\n  '## Beitrag',\n  String(redditFinalDraft.body || ''),\n  '',\n  '## CTA',\n  String(redditFinalDraft.cta || ''),\n  '',\n  '## Hashtags',\n  ensureArray(redditFinalDraft.hashtags).join(' '),\n].join('\\n');\n\nconst minQualityScore = Number.isFinite(Number($env.WF90_MIN_QUALITY_SCORE)) ? Number($env.WF90_MIN_QUALITY_SCORE) : 6.5;\nconst minEvidenceRefs = Number.isFinite(Number($env.WF90_MIN_EVIDENCE_REFS)) ? Number($env.WF90_MIN_EVIDENCE_REFS) : 3;\nconst minDraftBodyLen = Number.isFinite(Number($env.WF90_MIN_DRAFT_BODY_LEN)) ? Number($env.WF90_MIN_DRAFT_BODY_LEN) : 180;\nconst qualityFailures = [];\n\nif (Number(critique9.score || 0) < minQualityScore) {\n  qualityFailures.push('quality_score<' + minQualityScore);\n}\nif (evidenceRefs.length < minEvidenceRefs) {\n  qualityFailures.push('evidence_refs<' + minEvidenceRefs);\n}\nif (String(linkedinFinalDraft.body || '').trim().length < minDraftBodyLen) {\n  qualityFailures.push('linkedin_body_too_short');\n}\nif (String(redditFinalDraft.body || '').trim().length < minDraftBodyLen) {\n  qualityFailures.push('reddit_body_too_short');\n}\n\nif (qualityFailures.length) {\n  throw new Error('Quality gate failed: ' + qualityFailures.join(', '));\n}\n\nctx.topic = topic;\nctx.completed_at = nowIso();\nctx.status = 'pipeline_ok';\n\nctx.output_paths = {\n  linkedin_research: linkedinResearchPath,\n  reddit_research: redditResearchPath,\n  linkedin_draft: linkedinDraftPath,\n  reddit_draft: redditDraftPath,\n  workflow_log: ctx.workflow_logs_dir + '/' + ctx.run_id + '.md',\n};\n\nctx.generated = {\n  linkedin_research_markdown: linkedinResearchMarkdown,\n  reddit_research_markdown: redditResearchMarkdown,\n  linkedin_draft_markdown: linkedinDraftMarkdown,\n  reddit_draft_markdown: redditDraftMarkdown,\n};\n\nctx.artifacts.progress = {\n  run_id: ctx.run_id,\n  step: totalStages,\n  stage: 'pipeline_complete',\n  phase: 'done',\n  pct: 100,\n  ts: nowIso(),\n};\nconsole.log('[WF90_PROGRESS] run_id=' + ctx.run_id + ' step=' + totalStages + '/' + totalStages + ' pct=100 stage=pipeline_complete phase=done ts=' + ctx.artifacts.progress.ts);\n\nreturn [{ json: ctx }];\n\n"
      },
      "id": "code-run",
      "name": "Run KI Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = items[0].json;\n\nif (!ctx.obsidian_rest_url || !ctx.obsidian_rest_api_key) {\n  throw new Error('Missing OBSIDIAN_REST_URL or OBSIDIAN_REST_API_KEY');\n}\n\nconst baseUrl = String(ctx.obsidian_rest_url).replace(/\\/+$/, '');\n\nfunction vaultUrl(path) {\n  return baseUrl + '/vault/' + encodeURI(path);\n}\n\nasync function obsidianGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET',\n    url: vaultUrl(path),\n    headers: {\n      Authorization: 'Bearer ' + ctx.obsidian_rest_api_key,\n    },\n    json: false,\n    skipSslCertificateValidation: !!ctx.allow_insecure_tls,\n  });\n}\n\nasync function obsidianPut(path, body) {\n  return await this.helpers.httpRequest({\n    method: 'PUT',\n    url: vaultUrl(path),\n    headers: {\n      Authorization: 'Bearer ' + ctx.obsidian_rest_api_key,\n      'Content-Type': 'text/markdown',\n    },\n    body,\n    json: false,\n    skipSslCertificateValidation: !!ctx.allow_insecure_tls,\n  });\n}\n\nasync function readOrEmpty(path) {\n  try {\n    const content = await obsidianGet.call(this, path);\n    return String(content || '');\n  } catch (error) {\n    const status = Number(\n      (error && (error.statusCode || error.status || error.httpCode)) ||\n      (error && error.response ? (error.response.status || error.response.statusCode || 0) : 0)\n    );\n    const isNotFound = status === 404 || /status code 404|\\b404\\b/i.test(String(error && error.message ? error.message : ''));\n    if (isNotFound) {\n      return '';\n    }\n    throw new Error('Obsidian read failed for \"' + path + '\": ' + (error.message || 'unknown error'));\n  }\n}\n\nasync function ensureFile(path, fallbackBody) {\n  const current = await readOrEmpty.call(this, path);\n  if (current.trim()) {\n    return current;\n  }\n  const content = String(fallbackBody || '').trimEnd() + '\\n';\n  await obsidianPut.call(this, path, content);\n  return content;\n}\n\nfunction tableCell(value) {\n  return String(value == null ? '' : value).replace(/\\|/g, '/').replace(/\\n/g, ' ').trim();\n}\n\nfunction wiki(path, label) {\n  return '[[' + String(path) + '|' + String(label) + ']]';\n}\n\nfunction stageTable(stageLogs) {\n  const head = [\n    '| step | stage | status | input_ref | output_ref | quality_score | issues | model_used | notes | ts |',\n    '|---|---|---|---|---|---:|---:|---|---|---|',\n  ];\n  const rows = stageLogs.map((row) => {\n    return [\n      '| ' + tableCell(row.step),\n      tableCell(row.stage),\n      tableCell(row.status),\n      tableCell(row.input_ref),\n      tableCell(row.output_ref),\n      Number(row.quality_score || 0).toFixed(2),\n      tableCell(row.issues || 0),\n      tableCell(row.model_used || ''),\n      tableCell(row.notes || ''),\n      tableCell(row.ts || '') + ' |',\n    ].join(' | ');\n  });\n  return head.concat(rows).join('\\n');\n}\n\n// 1) Write platform-specific results and drafts\nawait obsidianPut.call(this, ctx.output_paths.linkedin_research, ctx.generated.linkedin_research_markdown.trimEnd() + '\\n');\nawait obsidianPut.call(this, ctx.output_paths.reddit_research, ctx.generated.reddit_research_markdown.trimEnd() + '\\n');\nawait obsidianPut.call(this, ctx.output_paths.linkedin_draft, ctx.generated.linkedin_draft_markdown.trimEnd() + '\\n');\nawait obsidianPut.call(this, ctx.output_paths.reddit_draft, ctx.generated.reddit_draft_markdown.trimEnd() + '\\n');\n\n// 2) Write workflow log (successful runs are always logged)\nconst workflowLogMarkdown = [\n  '---',\n  'type: workflow-log',\n  'run_id: ' + ctx.run_id,\n  'execution_id: ' + ctx.execution_id,\n  'created_at: ' + ctx.created_at,\n  'completed_at: ' + ctx.completed_at,\n  'status: completed',\n  'topic: \"' + tableCell(ctx.topic) + '\"',\n  'model_used: ' + tableCell(ctx.model_used),\n  '---',\n  '',\n  '# Workflow Log ' + ctx.run_id,\n  '',\n  stageTable(ctx.stage_logs || []),\n  '',\n  '## Ergebnisse',\n  '- linkedin_ausarbeitung: ' + ctx.output_paths.linkedin_research,\n  '- reddit_ausarbeitung: ' + ctx.output_paths.reddit_research,\n  '- linkedin_draft: ' + ctx.output_paths.linkedin_draft,\n  '- reddit_draft: ' + ctx.output_paths.reddit_draft,\n  '',\n  '## Modellverlauf',\n  '- model_used: ' + tableCell(ctx.model_used),\n].join('\\n');\nawait obsidianPut.call(this, ctx.output_paths.workflow_log, workflowLogMarkdown.trimEnd() + '\\n');\n\n// 3) Update 00-Workflow-Ergebnisse index\nconst resultsHeader = [\n  '# 00-Workflow-Ergebnisse',\n  '',\n  '| run_id | datum | thema | linkedin_ausarbeitung | reddit_ausarbeitung | linkedin_draft | reddit_draft | workflow_log |',\n  '|---|---|---|---|---|---|---|---|',\n].join('\\n');\n\nlet resultsIndex = await ensureFile.call(this, ctx.workflow_results_index, resultsHeader);\n\nconst resultRow = [\n  '| ' + tableCell(ctx.run_id),\n  tableCell(ctx.completed_at.slice(0, 10)),\n  tableCell(ctx.topic),\n  wiki(ctx.output_paths.linkedin_research, 'LinkedIn Ausarbeitung'),\n  wiki(ctx.output_paths.reddit_research, 'Reddit Ausarbeitung'),\n  wiki(ctx.output_paths.linkedin_draft, 'LinkedIn Draft'),\n  wiki(ctx.output_paths.reddit_draft, 'Reddit Draft'),\n  wiki(ctx.output_paths.workflow_log, 'Workflow Log') + ' |',\n].join(' | ');\n\nif (!resultsIndex.includes('| ' + ctx.run_id + ' |')) {\n  if (!resultsIndex.endsWith('\\n')) resultsIndex += '\\n';\n  resultsIndex += resultRow + '\\n';\n  await obsidianPut.call(this, ctx.workflow_results_index, resultsIndex);\n}\n\n// 4) Update Workflow Zwischenergebnisse with Qwen summaries per step\nconst intermediateHeader = [\n  '# Workflow Zwischenergebnisse',\n  '',\n  '| run_id | ts | step | stage | status | model_used | input_ref | output_ref | qwen_summary | quality_score | issues |',\n  '|---|---|---|---|---|---|---|---|---|---:|---|',\n].join('\\n');\n\nlet intermediate = await ensureFile.call(this, ctx.workflow_intermediate_file, intermediateHeader);\nconst summaryByStep = {};\nfor (const summary of (ctx.stage_summaries || [])) {\n  summaryByStep[String(summary.step)] = summary;\n}\n\nconst rows = [];\nfor (const row of (ctx.stage_logs || [])) {\n  const key = '| ' + ctx.run_id + ' | ' + row.ts + ' | ' + row.step + ' |';\n  if (intermediate.includes(key)) continue;\n  const summary = summaryByStep[String(row.step)] || { summary: '' };\n  rows.push([\n    '| ' + tableCell(ctx.run_id),\n    tableCell(row.ts),\n    tableCell(row.step),\n    tableCell(row.stage),\n    tableCell(row.status),\n    tableCell(row.model_used || ctx.model_used),\n    tableCell(row.input_ref),\n    tableCell(row.output_ref),\n    tableCell(summary.summary || ''),\n    Number(row.quality_score || 0).toFixed(2),\n    tableCell(row.issues || 0) + ' |',\n  ].join(' | '));\n}\n\nif (rows.length) {\n  if (!intermediate.endsWith('\\n')) intermediate += '\\n';\n  intermediate += rows.join('\\n') + '\\n';\n  await obsidianPut.call(this, ctx.workflow_intermediate_file, intermediate);\n}\n\n// 5) Ensure Workflow Schritte (detailed schema for every workflow)\nconst workflowSchritteContent = [\n  '# Workflow Schritte',\n  '',\n  '## Name: WF00 System Checks',\n  '### Tools: n8n, HTTP Request, SearXNG, Ollama, Obsidian REST',\n  '### Schritte:',\n  '1. Start Manual - startet den manuellen Checklauf.',\n  '2. Check SearXNG - prueft Suchdienst erreichbar und antwortfaehig.',\n  '3. Check Ollama - prueft lokale Modellverfuegbarkeit.',\n  '4. Check Obsidian - prueft Obsidian REST Erreichbarkeit.',\n  '### Ergebnis: Infrastrukturstatus fuer lokalen Betrieb.',\n  '',\n  '## Name: WF10 Research Sammeln',\n  '### Tools: n8n, Code Node, SearXNG',\n  '### Schritte:',\n  '1. Build Queries - definiert priorisierte Rechercheanfragen.',\n  '2. Search SearXNG - sammelt Suchtreffer pro Anfrage.',\n  '3. Normalize Evidence - normalisiert Treffer ins Evidence-Format.',\n  '### Ergebnis: Rohrecherche fuer den Hauptworkflow.',\n  '',\n  '## Name: WF20 Qwen Entwurf',\n  '### Tools: n8n, Code Node, Ollama Qwen',\n  '### Schritte:',\n  '1. Build Topic Input - setzt Thema, Plattform und Tonalitaet.',\n  '2. Build Qwen Prompt - erstellt den Modell-Prompt.',\n  '3. Draft via Qwen - erzeugt den Entwurf.',\n  '4. Collect Output - sammelt Modellantwort fuer Nachbearbeitung.',\n  '### Ergebnis: Basisentwurf als JSON/Rohtext.',\n  '',\n  '## Name: WF30 Obsidian Schreiben',\n  '### Tools: n8n, Code Node, Obsidian REST',\n  '### Schritte:',\n  '1. Build Note Payload - baut Markdown-Nutzlast.',\n  '2. Write Note - schreibt Datei in den Obsidian-Vault.',\n  '### Ergebnis: Persistierte Notiz im Vault.',\n  '',\n  '## Name: WF90 Workflow Orchestrator',\n  '### Tools: n8n, SearXNG, Ollama Qwen, Obsidian REST',\n  '### Schritte:',\n  '1. Init Run Kontext - initialisiert run_id, Pfade, Modell und Laufkontext.',\n  '2. Load Prompt Dateien - laedt Prompt-Dateien aus Obsidian und legt Defaults an.',\n  '3. Collect Research Daten - sammelt Suchsignale mit SearXNG.',\n  '4. Build Evidence Paket - verdichtet Signale in strukturierte Evidenz.',\n  '5. Build Topic Brief - waehlt Thema/Angle mit Relevanzbegruendung.',\n  '6. Build LinkedIn Fokus - bereitet Recherche explizit fuer LinkedIn auf.',\n  '7. Build Reddit Fokus - bereitet Recherche explizit fuer Reddit auf.',\n  '8. Build Draft Entwuerfe - erzeugt Entwuerfe fuer LinkedIn und Reddit.',\n  '9. Run AI Kritik - entfernt KI-artige Formulierungen ohne Faktenverlust.',\n  '10. Run Strategie Kritik 1 - optimiert Hook/Relevanz/CTA aus Strategieperspektive.',\n  '11. Run Strategie Kritik 2 - finaler strenger Plausibilitaets- und Qualitaetscheck.',\n  '12. Write Workflow Outputs - schreibt Logs, Ergebnisse, Zwischenergebnisse und Drafts.',\n  '### Ergebnis: Vollstaendig geloggter Run mit verlinkten LinkedIn/Reddit-Artefakten.',\n  '',\n  '## Name: WF95 Fehler Logger',\n  '### Tools: n8n, Error Trigger, Obsidian REST',\n  '### Schritte:',\n  '1. Error Trigger - reagiert auf fehlgeschlagene Workflows.',\n  '2. Build Error Log - normalisiert Fehlerkontext in Logstruktur.',\n  '3. Write Error Log - schreibt Fehlerlauf in Workflow Logs.',\n  '### Ergebnis: Fehlgeschlagene Runs sind nachvollziehbar dokumentiert.',\n].join('\\n');\nawait obsidianPut.call(this, ctx.workflow_steps_file, workflowSchritteContent.trimEnd() + '\\n');\n\n// 6) Ensure Workflow Übersicht (all workflows + all steps)\nconst workflowOverviewContent = [\n  '# Workflow Übersicht',\n  '',\n  '## Alle Workflows',\n  '- WF00 System Checks',\n  '- WF10 Research Sammeln',\n  '- WF20 Qwen Entwurf',\n  '- WF30 Obsidian Schreiben',\n  '- WF90 Workflow Orchestrator',\n  '- WF95 Fehler Logger',\n  '',\n  '## Schritte je Workflow',\n  '### WF00 System Checks',\n  '1. Start Manual',\n  '2. Check SearXNG',\n  '3. Check Ollama',\n  '4. Check Obsidian',\n  '',\n  '### WF10 Research Sammeln',\n  '1. Start Manual',\n  '2. Search Web Quellen',\n  '3. Build Evidence Paket',\n  '4. Return Research Data',\n  '',\n  '### WF20 Qwen Entwurf',\n  '1. Start Manual',\n  '2. Generate Draft Paket',\n    '',\n  '### WF30 Obsidian Schreiben',\n  '1. Start Manual',\n  '2. Persist Workflow Output',\n  '3. Return Sink Summary',\n  '',\n  '### WF90 Workflow Orchestrator',\n  '1. Start Manual',\n  '2. Init Run Kontext',\n  '3. Load Prompt Dateien',\n  '4. Run KI Pipeline',\n  '5. Write Workflow Outputs',\n  '6. Return Summary',\n  '',\n  '### WF95 Fehler Logger',\n  '1. Catch Workflow Fehler',\n  '2. Build Fehler Log',\n  '3. Write Fehler Log',\n  '4. Return Fehler Summary',\n].join('\\n');\nawait obsidianPut.call(this, ctx.workflow_overview_file, workflowOverviewContent.trimEnd() + '\\n');\n\nctx.status = 'completed';\nctx.completed_at = ctx.completed_at || new Date().toISOString();\n\nreturn [{ json: ctx }];\n\n"
      },
      "id": "code-write",
      "name": "Write Workflow Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    run_id: $json.run_id,\n    execution_id: $json.execution_id,\n    status: $json.status,\n    topic: $json.topic,\n    model_used: $json.model_used,\n    workflow_log_path: $json.output_paths.workflow_log,\n    linkedin_research_path: $json.output_paths.linkedin_research,\n    reddit_research_path: $json.output_paths.reddit_research,\n    linkedin_draft_path: $json.output_paths.linkedin_draft,\n    reddit_draft_path: $json.output_paths.reddit_draft,\n    workflow_results_index: $json.workflow_results_index,\n    workflow_intermediate_file: $json.workflow_intermediate_file,\n    workflow_steps_file: $json.workflow_steps_file,\n    workflow_overview_file: $json.workflow_overview_file,\n  },\n}];\n\n"
      },
      "id": "code-return",
      "name": "Return Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        260
      ]
    }
  ],
  "connections": {
    "Start Manual": {
      "main": [
        [
          {
            "node": "Init Run Kontext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Run Kontext": {
      "main": [
        [
          {
            "node": "Load Prompt Dateien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Prompt Dateien": {
      "main": [
        [
          {
            "node": "Run KI Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run KI Pipeline": {
      "main": [
        [
          {
            "node": "Write Workflow Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Workflow Outputs": {
      "main": [
        [
          {
            "node": "Return Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
