n8n/workflows/WF95_Workflow_Error_Logger.json
{
  "name": "WF95 Workflow Fehlerlog",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Fehler Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -860,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = (items[0] && items[0].json) ? items[0].json : {};\n\nfunction firstString(...values) {\n  for (const value of values) {\n    if (value != null && String(value).trim()) return String(value);\n  }\n  return '';\n}\n\nfunction yamlEscape(value) {\n  return String(value || '').replace(/\"/g, '\\\\\"').replace(/\\n/g, ' ');\n}\n\nconst now = new Date();\nconst stamp = now.toISOString().replace(/[-:.TZ]/g, '').slice(0, 14);\n\nconst execution = payload.execution || {};\nconst workflow = payload.workflow || {};\nconst error = payload.error || payload;\n\nconst executionId = firstString(payload.executionId, execution.id, payload.id, 'unknown');\nconst workflowName = firstString(workflow.name, payload.workflowName, 'unknown_workflow');\nconst workflowId = firstString(workflow.id, payload.workflowId, 'unknown_id');\nconst errorMessage = firstString(error.message, payload.message, payload.lastNodeExecuted, 'unknown error');\nconst errorStack = firstString(error.stack, payload.stack, '');\nconst lastNode = firstString(payload.lastNodeExecuted, error.node && error.node.name, 'unknown_node');\n\nconst runId = 'wf95-' + executionId + '-' + stamp;\nconst logsDir = $env.OBSIDIAN_WORKFLOW_LOGS_DIR || 'Marketing/Social-Media/Workflow/Workflow Logs';\nconst logPath = logsDir + '/' + runId + '.md';\n\nconst markdown = [\n  '---',\n  'type: workflow-log',\n  'run_id: ' + runId,\n  'execution_id: ' + executionId,\n  'status: failed',\n  'workflow_name: \"' + yamlEscape(workflowName) + '\"',\n  'workflow_id: ' + workflowId,\n  'failed_at: ' + now.toISOString(),\n  'model_used: n/a',\n  '---',\n  '',\n  '# Workflow Fehler ' + runId,\n  '',\n  '- workflow: ' + workflowName + ' (' + workflowId + ')',\n  '- execution_id: ' + executionId,\n  '- last_node: ' + lastNode,\n  '- message: ' + errorMessage,\n  '',\n  '## Fehlerdetails',\n  '```text',\n  errorStack || errorMessage,\n  '```',\n].join('\\n');\n\nreturn [{\n  json: {\n    run_id: runId,\n    execution_id: executionId,\n    workflow_name: workflowName,\n    workflow_id: workflowId,\n    error_message: errorMessage,\n    last_node: lastNode,\n    logPath,\n    markdown,\n  },\n}];\n"
      },
      "id": "build-fehler-log",
      "name": "Fehlerlog Bauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        260
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$env.OBSIDIAN_REST_URL + '/vault/' + $json.logPath}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OBSIDIAN_REST_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "text/markdown"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{$json.markdown}}",
        "options": {
          "allowUnauthorizedCerts": "={{($env.OBSIDIAN_ALLOW_INSECURE_TLS || \"false\") === \"true\"}}"
        }
      },
      "id": "write-fehler-log",
      "name": "Fehlerlog Schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    run_id: $json.run_id,\n    execution_id: $json.execution_id,\n    workflow_name: $json.workflow_name,\n    workflow_id: $json.workflow_id,\n    status: 'failed_logged',\n    workflow_log_path: $json.logPath,\n    error_message: $json.error_message,\n    last_node: $json.last_node,\n  },\n}];\n"
      },
      "id": "return-fehler-summary",
      "name": "Fehler Ergebnis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        260
      ]
    }
  ],
  "connections": {
    "Fehler Trigger": {
      "main": [
        [
          {
            "node": "Fehlerlog Bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fehlerlog Bauen": {
      "main": [
        [
          {
            "node": "Fehlerlog Schreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fehlerlog Schreiben": {
      "main": [
        [
          {
            "node": "Fehler Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06aeceb4-fd68-4f40-85f4-0f1a1e4b7502"
}
